[2019-01-18 08:00] arvvoid opened #9 "Python 2 and 3 compatibility"
Make sure its Python 2 and 3 compatible. Kodi is moving to Python 3 in v 19 and for Kodi 18 only plugins both compatible with Python 2 and 3  will be accepted  in the official repository.

[2019-01-18 09:36] #9 closed

[2019-01-22 07:14] arvvoid opened #13 "Add support România https://hbogo.ro/"

[2019-01-22 07:45] arvvoid commented on #15
Croatia, Hrvatska
country ID short: hr
country ID long: HRV
country hash: 467fecfe-a523-43aa-9d9e-8522358a8ba4

Providers:

- 24a5e09c-4550-4cd3-a63c-8f6ab0508dd7  # HBO GO Hrvatska web (credit card)
- e1fb87d0-7581-4671-94bb-8e647e13385a    # A1
- 81a65859-145b-4bbc-afa6-04e9ade004f9 # bonbon
- beed025d-06c9-4cac-a8a4-a118bdf22861  # evotv
- 323f061a-34e9-4453-987b-99aa38c46480 # HBO GO Vip/Club

[2019-01-22 07:46] arvvoid commented on #15
added in 75950ffb54a190bd67be7b92cfc1a0e90aacbe39

[2019-01-22 07:55] arvvoid commented on #10
Hungary, Magyarország
country ID short: hu
country ID long: HUN
country hash: d35eda69-a367-4b47-aa0c-a51032d94be2

[2019-01-22 07:58] arvvoid commented on #10
Providers RAW

[hbogohu.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2781779/hbogohu.txt)

[2019-01-22 08:04] arvvoid commented on #10
hbogo.hu web provider
[hbogohuwebprovider.txt]
(https://github.com/arvvoid/plugin.video.hbogoeu/files/2781795/hbogohuwebprovider.txt)

[2019-01-22 08:15] arvvoid commented on #15
[hbogohrwebprovider.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2781831/hbogohrwebprovider.txt)
[hbogohrproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2781832/hbogohrproviders.txt)

[2019-01-22 08:33] arvvoid commented on #10
[code]

[2019-01-22 08:34] arvvoid commented on #15
<string id="32251">Hrvatska: hbogo.hr (kreditna kartica)</string>
    <string id="32252">Hrvatska: A1</string>
    <string id="32253">Hrvatska: BonBon</string>
    <string id="32254">Hrvatska: evoTv</string>
    <string id="32255">Hrvatska: HBO GO Vip/Club Croatia</string>
    <string id="32256">Hrvatska: Hrvatski Telekom d.d.</string>
    <string id="32257">Hrvatska: Iskon Internet d.d.</string>

[2019-01-22 08:42] arvvoid commented on #10
['15276cb7-7f53-432a-8ed5-a32038614bbf', 'hu', 'HUN', 'd35eda69-a367-4b47-aa0c-a51032d94be2'],  # HBO GO HUN webes
['48f48c5b-e9e4-4fca-833b-2fa26fb1ad22', 'hu', 'HUN', 'd35eda69-a367-4b47-aa0c-a51032d94be2'], # UPC Direct
['b7728684-13d5-46d9-a9a4-97d676cdaeec', 'hu', 'HUN', 'd35eda69-a367-4b47-aa0c-a51032d94be2'], # DIGI
['04459649-8a90-46f1-9390-0cd5b1958a5d', 'hu', 'HUN', 'd35eda69-a367-4b47-a

[2019-01-23 10:20] arvvoid commented on #10
done in d597fc9801aeb4ae30a3be3cc0c269c0271c28c4

[2019-01-23 11:53] arvvoid commented on #21
[hbogobaweb.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787115/hbogobaweb.txt)
[hbogobaproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787116/hbogobaproviders.txt)

[2019-01-23 11:58] arvvoid commented on #20
[hbogobgweb.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787130/hbogobgweb.txt)
[hbogobgproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787131/hbogobgproviders.txt)

[2019-01-23 12:02] arvvoid commented on #19
[hbogomeweb.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787140/hbogomeweb.txt)
[hbogomeproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787141/hbogomeproviders.txt)

[2019-01-23 12:04] arvvoid commented on #19
{"AccountManagementUrl":"https:\/\/megwapi.hbogo.eu\/v2.1\/AccountManagement\/json\/SRP\/COMP","AgeRatingsUrl":"https:\/\/megwapi.hbogo.eu\/v2.1\/AgeRatings\/json\/SRP","ApplicationPreferencesUrl":"https:\/\/megwapi.hbogo.eu\/v2.1\/ApplicationPreferences\/json\/SRP\/COMP","AuthenticateOtherDeviceUrl":"https:\/\/megwapi.hbogo.eu\/v2.1\/AuthenticateOtherDevice\/json\/SRP\/COMP","AuthenticationUrl":"

[2019-01-23 12:10] arvvoid commented on #21
`{"AccountManagementUrl":"https://api.ugw.hbogo.eu/v3.0/AccountManagement/JSON/HRV/COMP","AgeRatingsUrl":"https://api.ugw.hbogo.eu/v3.0/AgeRatings/BIH/JSON/HRV","ApplicationPreferencesUrl":"https://api.ugw.hbogo.eu/v3.0/ApplicationPreferences/JSON/HRV/COMP","AuthenticationUrl":"https://api.ugw.hbogo.eu/v3.0/Authentication/BIH/JSON/HRV/COMP","ChangePasswordUrl":"https://api.ugw.hbogo.eu/v3.0/Change

[2019-01-23 12:19] arvvoid commented on #20
`{"AccountManagementUrl":"https://api.ugw.hbogo.eu/v3.0/AccountManagement/JSON/BUL/COMP","AgeRatingsUrl":"https://api.ugw.hbogo.eu/v3.0/AgeRatings/BGR/JSON/BUL","ApplicationPreferencesUrl":"https://api.ugw.hbogo.eu/v3.0/ApplicationPreferences/JSON/BUL/COMP","AuthenticationUrl":"https://api.ugw.hbogo.eu/v3.0/Authentication/BGR/JSON/BUL/COMP","ChangePasswordUrl":"https://api.ugw.hbogo.eu/v3.0/Change

[2019-01-23 12:31] arvvoid commented on #18
[hbogomk.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787219/hbogomk.txt)
[hbogomkproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2787220/hbogomkproviders.txt)

[2019-01-24 12:17] arvvoid commented on #6
Add: #11, #12, #13, #14, #15, #16, #17, #18, #19, #20, #21

[2019-01-24 12:18] arvvoid commented on #6
#10 DONE

[2019-01-25 13:12] arvvoid commented on #17
`{"AccountManagementUrl":"https://api.ugw.hbogo.eu/v3.0/AccountManagement/JSON/SLV/COMP","AgeRatingsUrl":"https://api.ugw.hbogo.eu/v3.0/AgeRatings/SVN/JSON/SLV","ApplicationPreferencesUrl":"https://api.ugw.hbogo.eu/v3.0/ApplicationPreferences/JSON/SLV/COMP","AuthenticationUrl":"https://api.ugw.hbogo.eu/v3.0/Authentication/SVN/JSON/SLV/COMP","ChangePasswordUrl":"https://api.ugw.hbogo.eu/v3.0/Change

[2019-01-25 13:13] arvvoid commented on #17
[hbogoslvweb.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796196/hbogoslvweb.txt)
[hbogoslvproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796197/hbogoslvproviders.txt)

[2019-01-25 13:16] arvvoid commented on #16
`{"AccountManagementUrl":"https://api.ugw.hbogo.eu/v3.0/AccountManagement/JSON/SRP/COMP","AgeRatingsUrl":"https://api.ugw.hbogo.eu/v3.0/AgeRatings/SRB/JSON/SRP","ApplicationPreferencesUrl":"https://api.ugw.hbogo.eu/v3.0/ApplicationPreferences/JSON/SRP/COMP","AuthenticationUrl":"https://api.ugw.hbogo.eu/v3.0/Authentication/SRB/JSON/SRP/COMP","ChangePasswordUrl":"https://api.ugw.hbogo.eu/v3.0/Change

[2019-01-25 13:17] arvvoid commented on #16
[hbogorsweb.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796209/hbogorsweb.txt)
[hbogorsproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796210/hbogorsproviders.txt)

[2019-01-25 13:31] arvvoid commented on #13
[hbogoroweb.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796245/hbogoroweb.txt)
[hbogoroproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796246/hbogoroproviders.txt)

[2019-01-25 13:36] arvvoid commented on #12
`{"AccountManagementUrl":"https://api.ugw.hbogo.eu/v3.0/AccountManagement/JSON/SLO/COMP","AgeRatingsUrl":"https://api.ugw.hbogo.eu/v3.0/AgeRatings/SVK/JSON/SLO","ApplicationPreferencesUrl":"https://api.ugw.hbogo.eu/v3.0/ApplicationPreferences/JSON/SLO/COMP","AuthenticationUrl":"https://api.ugw.hbogo.eu/v3.0/Authentication/SVK/JSON/SLO/COMP","ChangePasswordUrl":"https://api.ugw.hbogo.eu/v3.0/Change

[2019-01-25 13:38] arvvoid commented on #12
[hbogosk.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796264/hbogosk.txt)
[hbogoskproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796265/hbogoskproviders.txt)

[2019-01-25 13:41] arvvoid commented on #11
`{"AccountManagementUrl":"https://api.ugw.hbogo.eu/v3.0/AccountManagement/JSON/CES/COMP","AgeRatingsUrl":"https://api.ugw.hbogo.eu/v3.0/AgeRatings/CZE/JSON/CES","ApplicationPreferencesUrl":"https://api.ugw.hbogo.eu/v3.0/ApplicationPreferences/JSON/CES/COMP","AuthenticationUrl":"https://api.ugw.hbogo.eu/v3.0/Authentication/CZE/JSON/CES/COMP","ChangePasswordUrl":"https://api.ugw.hbogo.eu/v3.0/Change

[2019-01-25 13:42] arvvoid commented on #11
[hbogocz.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796277/hbogocz.txt)
[hbogoczproviders.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/2796278/hbogoczproviders.txt)

[2019-01-26 12:18] arvvoid commented on #21
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:19] arvvoid commented on #20
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:19] arvvoid commented on #19
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:19] arvvoid commented on #18
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:19] arvvoid commented on #17
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:19] arvvoid commented on #16
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:19] arvvoid commented on #14
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:20] arvvoid commented on #13
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:20] #13 closed

[2019-01-26 12:20] arvvoid commented on #12
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-26 12:20] arvvoid commented on #11
Done in ef52c5a7437fcfb52b75df2473ed3f2cb89cbd37

[2019-01-27 13:59] arvvoid opened #1 "HBO Go Favorites improvment"
Feature to add and remove items from Hbo Go Favorites

[2019-01-27 14:01] arvvoid opened #2 "Get prefered UI Language from Hbo Go Profile"

[2019-01-27 14:02] arvvoid opened #3 "Make language files for all supported countries"
Current status of translations (_STATUS LAST UPDATED 08/1/2021 12:07_):

**[English](https://github.com/arvvoid/plugin.video.hbogoeu/raw/master/resources/language/resource.language.en_gb/strings.po)** 102 strings in total / POT file

**OK** - ✔, **NEED UPDATE** - ✍, **BAD NEED WORK** - ✖ **MACHINE TRANSLATED** - 🖥️‼️

| Language | Status | ISO code | Untranslated | Last translator | Previous trans

[2019-01-27 14:03] arvvoid opened #4 "Kodi library integration"

[2019-01-28 14:48] arvvoid opened #5 "Operators that perform login redirection don't work"
* _Czech Republic: Skylink [REDIRECT LOGIN] [SOLVED CONFIRMED WORKING]_
* _Czech Republic: UPC CZ [REDIRECT LOGIN] [SOLVED CONFIRMED WORKING]_
* _Polonia: Cyfrowy Polsat [REDIRECT LOGIN] [SOLVED CONFIRMED WORKING]_
* Romania: UPC Romania [REDIRECT LOGIN] **[ERROR NOT WORKING]**
* _Slovakia: Skylink [REDIRECT LOGIN] [SOLVED CONFIRMED WORKING]_
* _Slovakia: UPC CZ [REDIRECT LOGIN] [SOLVED CONFIRMED

[2019-01-30 08:14] arvvoid opened #6 "HBO España (https://en.hboespana.com/) [WORK IN PROGRESS]"
It looks like it uses a different structure and api. Investigation and more info from someone local that uses it and have access id needed to evaluate the possibility of adding it to this add-on.

structure and api looks similar or the same to HBO Nordic #6

[2019-01-30 08:16] arvvoid opened #7 "HBO Nordic (https://www.hbonordic.com/) [WORK IN PROGRESS]"
It looks like it uses a different structure and api. Investigation and more info from someone local that uses it and have access id needed to evaluate the possibility of adding it to this add-on.

structure and api looks similar or the same to HBO España #6

[2019-01-30 08:20] arvvoid opened #8 "Other unsuported regions"
HBO Go US (http://hbogo.com) [NOT SUPPORTED BY THIS ADD-ON]
HBO Go Asia (https://www.hbogoasia.com/) [NOT SUPPORTED BY THIS ADD-ON]
HBO Go Latin America (https://www.hbogo.com.br/) [NOT SUPPORTED BY THIS ADD-ON]

If more details become known or a working add-on for those regions become available. Inclusion might be possible and a unified Hbogo Kodi add-on might be possible.

#6 #7

[2019-01-30 08:21] arvvoid commented on #6
Supporting #6 and #7 would make it  a complete hbogo eu add-on

[2019-01-30 08:21] arvvoid commented on #7
Supporting #6 and #7 would make it  a complete hbogo eu add-on

[2019-02-03 08:53] Bibi40k commented on #5
Hi,
i login using Romania: Telekom Romania [REDIRECT LOGIN], how can i help ?

[2019-02-04 07:44] arvvoid commented on #5
Hello, thanks for the help offer.
Please post a debug log with the latest version, make sure to try to play a video from the add on (https://kodi.wiki/view/Log_file/Easy).
That might be enough to fix it.

If not probably someone with access to one of these operators with programming skills will have to implement it and send a pull request.
The other option is, someone with access to one of these o

[2019-02-06 01:15] bal8784 commented on #8
How can I help with HBO Go US? Ive found some hosts that get hit when accessing hbogo.

comet.api.hbo.com  (this is coded into the android apk in CometClient.java)
login.api.hbo.com
markers.api.hbo.com
hbobroadband.122.2o7.net
artist.api.lv3.cdn.hbo.com
auth.hbogo.com
telegraph.api.hbo.com

[2019-02-12 07:49] arvvoid opened #10 "[REQUEST] Add portugal"
* [X ] Are you running the latest version?

Kodi forum - Posted by @Norin_Radd - 10 hours ago
there is now another regional HBO

https://hboportugal.com

i will test your addon one other time to see if it works for portugal, i hope so.

[2019-02-12 07:51] arvvoid commented on #10
Look like https://hboportugal.com use the same api and structure as hbogo.eu, hopefully addition will be simple.

[2019-02-13 07:27] #10 closed, assigned to arvvoid

[2019-02-14 16:54] sanangel commented on #6
Waiting anxiously for the development of Spain. Thank you...

[2019-02-21 11:09] arvvoid commented on #5
Found a useful implementation here: https://github.com/kszaq/plugin.video.hbogopl , need to be tested.  This might solve the problem for * UPC and * Cyfrowy Polsat and give hints to solve the rest as well.

[2019-02-23 14:48] ntilagoa opened #11 "HBO Portugal not working."
* [ ] Are you running the latest version?
Yes
**Describe the bug**
A clear and concise description of what the bug is.
After login , just give error and do not enter plugin.

**Operating System**

* [ ] Linux (x86/x64)
* [ ] OSX (x86/x64)
* [ ] Windows (x86/x64)
* [ ] Linux (ARM)
* [X ] Android

**Additional informatin on the environment**

[Descripe your environment a bit more detailed, are you u

[2019-02-24 08:30] arvvoid commented on #11
Found the problem, silent device registration fails becouse the api call url is not correct for Portugal. Have to find the correct url for Portugla. After i find it and fix the addon should work.

I added support for Portugal recently have no way of testing it so atm is completly untested.

[2019-02-24 20:04] arvvoid commented on #11
Please test version: [plugin.video.hbogoeu-2.0.4~beta12.zip](https://github.com/arvvoid/repository.arvvoid/raw/master/plugin.video.hbogoeu/plugin.video.hbogoeu-2.0.4~beta12.zip) and report results with full debug log

[2019-02-24 20:05] arvvoid commented on #5
Please test version: [plugin.video.hbogoeu-2.0.4~beta12.zip](https://github.com/arvvoid/repository.arvvoid/raw/master/plugin.video.hbogoeu/plugin.video.hbogoeu-2.0.4~beta12.zip) and report results with full debug log

[2019-02-24 20:25] arvvoid commented on #6
After the current version get a little more testing and i make a stable release will start working on HBO Spain and Nordic. But I don't have a specific timeframe since I work on this every now and then when I have the time :) But contributions and pull requests are welcome.

[2019-02-24 20:28] arvvoid commented on #8
Might work on that in the future, don't have the time now.

But contributions and pull requests are welcome :)

[2019-02-24 21:04] ntilagoa commented on #11
Hi
Now do not give error and past the login screen but only shows search and favorites buttons, nothing else.
Log:
[LOG REMOVED CONTAINS BANNED ADD-ONS arvvoid]

[2019-02-24 21:39] arvvoid commented on #11
Hello,

please clean your installation from any banned add-on (per kodi forum rules [banned addons](https://kodi.wiki/view/banned%20addons) ).

Then provide a full Debug log (the one posted previously is not useful because it have debugging turned off), instructions: [Log_file/Easy](https://kodi.wiki/view/Log_file/Easy)

[2019-02-24 22:00] ntilagoa commented on #11
Sorry for that. Here it is:
https://paste.kodi.tv/iguyuneqaq

[2019-02-25 08:12] arvvoid commented on #11
It looks like Group listing api call for portugal return sucess with an empty list, so will have to find an alternative way to retrive the groups for Portugal.

In the meantime if you try to search does it work? If it does can you play someting from the search result? Does the favorite group work and list items in it?
Can you try to perform all this actions and send a debug log?

[2019-02-25 09:50] ntilagoa commented on #11
Hi Arvvoid
Favorites show up and play just fine.
Search do not work. Every time I try to search anything Kodi just quit.

[2019-02-25 09:58] arvvoid commented on #11
Ok if playback from favorites works that's promising.
Can you provide me a full debug log after the crash when you try to search in the add-on? So I can investigate that as well and fix it.

I found an alternative group listing method. Probably will be able to make a fix quickly.

[2019-02-25 10:25] ntilagoa commented on #11
Hi
After restart Kodi it seems that search is working.
I try 2, 3 searches and work ok and play fine from the found items.
Thank you very much for your work on this.

[2019-02-25 14:39] sanangel commented on #6
This is very happy news.
If you need a tester, I volunteer ...

[2019-02-25 20:42] arvvoid commented on #11
Please test: [plugin.video.hbogoeu-2.0.5~beta13.zip](https://github.com/arvvoid/repository.arvvoid/raw/master/plugin.video.hbogoeu/plugin.video.hbogoeu-2.0.5~beta13.zip)

[2019-02-25 20:57] ntilagoa commented on #11
Hello
Ok. Now it shows: search, my list, home and series buttons, but not movies
Later try to upload log.

[2019-02-25 21:35] arvvoid commented on #11
I see the position if off by 1, i know what the problem is, will fix it tomorow

[2019-02-26 08:13] arvvoid commented on #11
Try: [plugin.video.hbogoeu-2.0.5.beta14.zip](https://github.com/arvvoid/plugin.video.hbogoeu/releases/download/2.0.5-beta14/plugin.video.hbogoeu-2.0.5.beta14.zip)

[2019-02-26 08:15] arvvoid opened #12 "Add parental control"
Add Kids category and parental control

[2019-02-26 08:22] arvvoid commented on #5
Confirmed working for * Polonia: Cyfrowy Polsat [REDIRECT LOGIN].

Waiting for feedback for other providers. If no feedback for 2 weeks going to close this. Can be reopened if a problem is found.

[2019-02-26 08:51] ntilagoa commented on #11
It is working ok. :)

On main screen “trending now” appears twice.
I have to go to work now. Later will try with more time and report back.
Thank you.

[2019-02-26 10:35] arvvoid commented on #11
Try: [plugin.video.hbogoeu-2.0.5~beta16.zip](https://github.com/arvvoid/repository.arvvoid/raw/master/plugin.video.hbogoeu/plugin.video.hbogoeu-2.0.5~beta16.zip) this one should solve that minor issue

[2019-02-27 10:35] arvvoid commented on #11
Solved closing

[2019-02-27 10:35] #11 closed, assigned to arvvoid

[2019-02-28 13:18] arvvoid commented on #5
confirmed still not working for UPC Romania

[2019-03-01 12:35] #1 closed, assigned to nobody

[2019-03-13 08:18] MythodeaLoL commented on #8
I would be very grateful when you have the time to create an authentication module for HBO BR. I can help with login if u need. When you have time, call me. @arvvoid See u.

[2019-03-25 16:38] cyberreality commented on #5
hi there !
i'm using Czech Republic: Skylink [REDIRECT LOGIN] and does not work, see my log: https://paste.kodi.tv/oviyezesiy.kodi
thanks

[2019-03-27 11:57] alpa4r commented on #5
Hello,
Romania: UPC Romania does not work, how can i help?

[2019-03-27 13:28] arvvoid commented on #8
@FloridaStream Hello, when I'm ready and have more free time to work on it will let you know.
It's not only a matter of solving the login, the API is different so login, device registration, operator listing, content listing, purchase, search, my list, ecc... all have to be figured out. If someone figures out the calls necessary and responses implementing it in the add-on is not a problem.

[2019-03-27 13:42] arvvoid commented on #5
Hello,
not having access to those operators is impossible for me to test and figure out the response given by the operator on successful login and extract the data necessary to complete the login procedure.
Found and implemented a working solution for Cyfrowy Polsat hoped it would be the same for the rest, and for the most part, it is, but there are some differences and some things have to be hand

[2019-03-28 06:50] cyberreality commented on #5
@arvvoid so please check my kodi log above, its for Skylink Czech, one can see it performs redirection to
OPERATOR REDIRECT: https://hbogo.skylink.cz/goauthenticate.aspx?client_id=HBO&redirect_uri=......
so maybe easy to fix

[2019-03-28 07:59] arvvoid commented on #5
@cyberreality I checked your log. Read my answer above,  it's clear to me where and why it fails but I will have to extend what gets written to the debug log in hope of having enough info to fix it.
It's not a complicated fix, the complicated and slow part is getting the info necessary to fix it not having access to those operators. I have to write a slightly different login procedure for each one

[2019-03-30 17:45] cyberreality commented on #5
yope, there is a CZ version of HBOGO addon but only direct login works, no redirect at the moment ...
latest version attached:
[plugin.video.hbogocz-0.7.9a.zip](https://github.com/arvvoid/plugin.video.hbogoeu/files/3025767/plugin.video.hbogocz-0.7.9a.zip)

[2019-04-06 20:18] Sakerdot commented on #6
I can give it a go, have you started figuring out its api?

[2019-04-07 14:38] arvvoid commented on #6
@Sakerdot Hello, no i havent started any work on this so all have to be figured out.
Login (direct and throu operators if there is 3th party logins for HBO Spain), Categories, Listings, Purchase.
 I just took a quick look from what i saw HBO Spain and Nordic are very similar, so those 2 regions probably share the same API (different domain names and servers tho).
Good luck with HBO Spain, as a bon

[2019-04-07 14:41] Sakerdot commented on #6
I've made some progress on this, I've managed to login and get some folders, I might create a pull request later today/next week.

[2019-04-07 22:09] sanangel commented on #6
@Sakerdot if you need a tester, I'm your man ... I'm from Spain with a Spanish account (from Vodafone)

[2019-04-08 15:21] sanangel commented on #6
@Sakerdot and @arvvoid
I have installed the add-on and it works for me and with 1080 resolution.
I do not know how to express my gratitude for your work !!!!
Many thanks!!!!
If you need something, whatever is necessary, here you have me for whatever is necessary

[2019-04-08 19:18] macardi commented on #7
I have a subscription for HBO Nordic, and could assist with testing.

[2019-04-09 10:32] Tr1aX commented on #6
I'm also available for testing if needed. I have some IT background that maybe can be useful as well as a Spanish 2 months trial HBO account.

[2019-04-09 10:43] Sakerdot commented on #6
@sanangel @Tr1aX the best thing right now would be to use the app and give all the feedback you can, anything weird you find, any errors that pop up, whatever.

I won't have much time for a while but once I do I'll implement all that is missing, and then a more thorough testing will be needed.

[2019-04-09 10:55] sanangel commented on #6
I've been testing the application and I've seen several chapters and, so far, it's going very well. It is fast to load and play without problems. In my case, in a Mecool K1 Pro with Coreelec and 1080 quality. The only "problems" found: the audio is stereo, there is no 5.1 option and the menus and names of the series and movies are in English instead of in Spanish. But you can live without that aft

[2019-04-09 20:26] TheImmortalOne commented on #5
For Romania - Telekom Romania, the redirect login is failing: http://paste.kodi.tv/cusiboluza

[2019-04-10 06:35] arvvoid commented on #7
Hello,

i suspect the Nordic api is identical to the Spanish one currently in development by @Sakerdot.

The only way to know is to try:
[plugin.video.hbogoeu-nordicex.zip](https://github.com/arvvoid/plugin.video.hbogoeu/files/3062274/plugin.video.hbogoeu-nordicex.zip) this is a quick and dirty test version with basic functionality. Select HBO Nordic (experimental) during setup, enter your credent

[2019-04-10 07:02] macardi commented on #7
Hi, will test tonight when home from work, and report back.

[2019-04-10 19:28] macardi commented on #7
Hi, I have done some testing. At first I was not able to login. But after looking at the code in handlersp.py I changed every instance of "https://api-hboe........" to "https://api-hbon......" (e for Espania, and n for Nordic i guess) and after that it worked. During my first run i got a lot of errors when choosing a category, movie, episode etc, but after a second run those errors went away. Some

[2019-04-11 06:26] arvvoid commented on #7
Hello,

@marcadi tnx for reporting, knowing that is useful information. This is just an initial experimental version the handler for spain and nordic will get polished and improved over time :)
For sound 2.0 is what we get for the other regions as well that's blocked on hbo go side so nothing we can do about it, they provide 5.1 only on certain certified devices (not in web browser mode).

Here is

[2019-04-11 18:56] macardi commented on #7
Did some browsing and played some episodes/movies with your new version.
Debug log: https://paste.ubuntu.com/p/vWVkHx9PBd/
I got some errors when trying to play some files (seems random) the same movie/episode works at another session or starts playing after a number of attempts.

[2019-04-12 06:16] arvvoid commented on #7
Tnx for the log will be useful.
Can't find anything useful for the random errors, but we will see if this still happens when the login procedure get improved to have a persistent session, to not login on each action like is now.

[2019-04-12 06:24] arvvoid commented on #5
@TheImmortalOne tnx for the log, for now, I'm stuck with this, each of the operators with login redirect requires a slightly different implementation but not having access to those is difficult to test an figure out what has to be done. Ideally a local developer with access to the operator in question has to figure it out an implement it, and send a pull request.
Or someone has to provide me with

[2019-04-12 18:41] TheImmortalOne commented on #5
@arvvoid, if you can link me a basic how-to for providing 'all the https requests and responses' (i suspect somehow from chrome's dev tools?), I can definitely help with that.

[2019-04-13 11:58] Tr1aX commented on #6
I've tested a bit in a raspberry pi and Libreelec and so far so good. Addon and all dependencies installed from zip without any problem and Widevine later when tried to watch the first stream. But after Widevine installation i had to reboot libreelec in order to be able to load the streams. Other than that I've also found that the audio channel preferences doesn't remain saved as everytime the str

[2019-04-13 11:59] Tr1aX commented on #6
Ah, and menu titles are also in English in my case.

[2019-04-15 06:58] macardi commented on #7
Also subtitles does not work. Is that because this is an experimental version or is this not supported by the addon?

[2019-04-15 07:09] arvvoid commented on #6
Hello, the content is retrieved in English only in the Spanish handler atm, I'm sure that will get improved when Sakerdot gets some free time to work on it.

For default audio and subtitle language; that's a global Kodi settings, Go to settings>appearance>international and set your prefered audio and/or subtitle stream there.
If DD+ is listed in the available audio streams than yes thats 5.1, mayb

[2019-04-15 07:12] arvvoid commented on #7
Subtitles are supported an should work. Subtitles are handled by inputstream.adaptive. If you go to the subtitle menu during playback are subtitles shown there? If you enable them and select a language are the subtitles shown at all or shown incorrectly?

[2019-04-15 14:19] macardi commented on #7
Hi, There are no subtitles available in that menu. The option to choose between subtitles is grayed out and it says "Subtitles: None". Is it a setting I have to enable in inputstream.adaptive? Subtitles works in other similar addons such as Netflix and Viaplay that also depends on imputstream.adaptive.

[2019-04-15 19:34] PolliSoft commented on #7
Hi, I just found this and downloaded the Nordic test version. Let me know if you want some log or other info.
I'm running a Windows 10 64bit PC, with Kodi 18.2 RC1 64bit.

[2019-04-15 21:29] arvvoid commented on #7
@macardi ok, might be the subtitles are missing from the manifest and have to be handled differently will look into it. Tnx for reporting.
@PolliSoft just try it out and report any issue found with full debug logs :)

[2019-04-15 21:30] arvvoid commented on #6
@sanangel @Tr1aX does subtitles work for you?

[2019-04-16 10:13] sanangel commented on #6
No, there are no subtitles.
And the audio language, I confirm that for me is 2.0

[2019-04-17 18:24] arvvoid opened #14 "[inputstream.adaptive] Subtitles over the whole screen on windows"
This is an inputstream.adaptive issue, a solution is already availible on the issue opened on inputstrea.adaptive, this issue will be closed when the fix get merged:

https://github.com/peak3d/inputstream.adaptive/issues/247

Screenshot illustrating the problem:
![55282494-0b5cf100-5345-11e9-9e8c-70b2be627240](https://user-images.githubusercontent.com/46710439/56311606-beec2080-614e-11e9-9114-6c1f

[2019-04-17 19:16] arvvoid opened #15 "[REQUEST] Custom views"
KODI FORUM POST: https://forum.kodi.tv/showthread.php?tid=339798&pid=2844734#pid2844734

[2019-04-17 19:18] arvvoid opened #16 "[REQUEST] Trakt integration"
KODI FORUM POST: https://forum.kodi.tv/showthread.php?tid=339798&pid=2846086#pid2846086

[2019-04-17 19:26] arvvoid opened #17 "[REQUEST] TMDB Integration"
Add TMDB integration, as an optional feature

[2019-04-18 07:59] arvvoid commented on #7
@macardi @PolliSoft  New test version is available in pull request please test an report back.

From now on all discussion and reports regarding HBO Nordic should be done on the pull request. This conversation will be closed. So we keep all in one place.

GO TO: https://github.com/arvvoid/plugin.video.hbogoeu/pull/13

[2019-04-18 08:02] arvvoid commented on #6
@sanangel @Tr1aX  New test version is available in pull request please test an report back.

From now on all discussion and reports regarding HBO Spain should be done on the pull request. This conversation will be closed. So we keep all in one place.

GO TO: https://github.com/arvvoid/plugin.video.hbogoeu/pull/13

[2019-04-20 16:10] jhdgghost commented on #3
[strings.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3100342/strings.txt)
Hello i submit the Spanish Translation of the file. If someone want to review it go ahead.

[2019-04-20 21:56] arvvoid commented on #3
Added in #13

[2019-04-24 08:12] macardi commented on #3
[strings_swe.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3111229/strings_swe.txt)

Swedish translation.

[2019-04-24 20:11] jumakki commented on #3
Finnish translations:
[strings_fin.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3113989/strings_fin.txt)

[2019-04-26 13:23] sile70000 opened #18 "Episode and season plot missing"
Can you consider changing  hbogolib/handlereu.py to something like this?

	Line 1195:             plot = title['Abstract'].encode('utf-8', 'ignore')
	Line 1196:             if 'Description' in title:
	Line 1197:                 if title['Description'] is not None:
	Line 1198:                    plot = title['Description'].encode('utf-8', 'ignore')

	...

	Line 1235:         plot = item['Abstract']

[2019-04-27 11:44] arvvoid commented on #18
@sile70000 tnx for reporting and contributing.  I will try and include your proposed changes.

[2019-04-27 23:14] arvvoid commented on #18
included in the last release 2.0.8 beta 22

[2019-04-29 21:49] #18 closed, assigned to arvvoid

[2019-05-08 06:21] #7 closed, assigned to nobody

[2019-05-08 06:21] #6 closed, assigned to nobody

[2019-05-08 17:30] pristis opened #19 "[SUPPORT] Error On Start /Bulgarian HBO/"
Hello!

When I start HBO GO, I receive HBO GO EU error message to check the log.
On first start I select my region /Bulgaria/ and now I can't use it because of error. You can check the log on: https://pastebin.com/XZmGDw0p

Please, help me if you can.

Best regards,
Martin

[2019-05-08 18:05] arvvoid commented on #19
@pristis Hello. From the log i see you missing a dependency Cryptodomex. In the early versions of the add-on it was not used. But now is required.
This is not really an issue with the add-on but with the platform its running on.
Usually it’s present by default, or get auto installed as a script add-on in Kodi on most platforms.

Are you using osmc? Try to install the dependency manually from the s

[2019-05-08 18:44] pristis commented on #19
Thanks for the quick answer!

I am using KODI on standalone Raspbian installation, and maybe some packages are not installed, like when use it with osmc for example.

Yes, pycryptodomex was missed and now it's installed. Also HBO wants me to install Widevine CDM automatically, and after that told me that I must install manually libnss3.

Now everything works great!

Thanks for the support and have

[2019-05-08 18:45] #19 closed, assigned to nobody

[2019-05-10 07:20] tmihai20 commented on #3
Romanian translation from me. If there are any issues, please mention me or reply and I will take care of them. I chose RO and ro as the denomination for Romania, I hope that is correct.

[strings-ro.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3165312/strings-ro.txt)

[2019-05-12 07:27] grzechj opened #20 "[BUG] Video is not starting using /HBO GO Poland/"
* [x] Are you running the latest version?
Yes

**Describe the bug**
Video not starting

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any video title
2. Click on Play
3. See that video is not starting

**Expected behaviour**
Video plays

## Debug log

2019-05-12 09:21:45.973 T:1585443696   DEBUG: Previous line repeats 5 times.
2019-05-12 09:21:45.974 T:1585443696   DEBUG: PushCecKeyp

[2019-05-12 07:41] grzechj commented on #20
Downgraded to beta22 and it works.

[2019-05-13 06:26] arvvoid commented on #20
@grzechj pls don't post debug logs directly in posts, and post only full debug logs.
There is nothing unusual or wrong with the section of the log posted. The problem can't be recreated, everything plays fine in beta23 for the hbo go eu hadler in my tests. It might have been a temporary problem with the device, usually, a Kodi restart or session reset solve the issue.
Pls try again and if the prob

[2019-05-21 09:23] #20 closed, assigned to nobody

[2019-05-26 08:24] Ike201 commented on #3
Czech translation:
[strings_cze.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3220101/strings_cze.txt)

[2019-06-04 08:48] arvvoid commented on #14
Fixed in inputstream.adaptive (2.3.19)

[2019-06-04 08:48] #14 closed, assigned to nobody

[2019-06-10 10:12] ursan2003 commented on #5
@arvvoid if you need the account hbo upc romania to try fix the login please leave a message
.Thanks

[2019-06-19 11:13] BlackGlassSkin opened #21 "[REQUEST] Integration with Up Next"
Thanks for your job!!!

do you plan to add integration options with Up Next

[2019-06-22 08:30] arvvoid commented on #21
Will look into it when I find some free time

[2019-07-20 20:59] awdAvenger opened #22 "[BUG] Subtitles are not working on some titles"
* Using version. 2.0.10-beta26.

**Describe the bug**
Subtitles for not always work on some shows. It seems to be consistent for any given show if the subtitles works or not.

I'm connecting to HBO Nordic in Norway and one show that does not have working subs is The Office (US).

Subtitles for this show works fine in the browser, but they do not seem to be detected in this add-on. No subtitles are

[2019-07-21 10:48] arvvoid commented on #22
Hello tnx for reporting. You posted only a partial log, missing any useful information. Please recreate the problem, start a show with working subtitles and then one where the subtitles don't work with debug loggin enabled, and post a **full** debug log.

Like stated in the README:

[2019-07-22 07:21] awdAvenger commented on #22
Sorry for that, heres a full log:

https://paste.ubuntu.com/p/vxzrNJp2Jv/

The first show I started was The Handmaid's Tale, S03E01 (at around 07:14:27.946 in the log), where the subtitles work fine.

Then I started The Office S04E02 (~07:14:52.730) where the subtitles does not work.

I just ran the shows for 20-30 seconds to see if the subtitles worked or not.

Thank you for you assistance.

[2019-07-22 13:26] arvvoid commented on #22
Found the problem

`2019-07-22 07:14:52.622 T:140498547226368   DEBUG: [plugin.video.hbogoeu] Force subtitles enabled, downloading and converting subtitles in: /home/avenger/.kodi/userdata/addon_data/plugin.video.hbogoeu/subs/1f10ced-0049ef2147c/
2019-07-22 07:14:52.623 T:140498547226368   DEBUG: [plugin.video.hbogoeu] Processing subtitle language code: en_hbon URL: https://static.hbonordic.com/1f

[2019-07-23 20:27] #22 closed, assigned to arvvoid

[2019-07-28 13:37] haakobja opened #24 "[BUG] HBO Nordic does not list every movie or TV series available"
* [x] Are you running the latest version?

**Describe the bug**
The addon does not list the full selection of available movies or TV series when selecting the "All Series" or "All movies". The TV series ends at S, even though I know shows that start with W are available.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open HBO Go EU addon
2. Go to Series
3. Go to "All series"
4. Scroll down

[2019-07-30 05:50] arvvoid commented on #24
Please enable debug logging in Kodi recreate the problem and then post a full debug log. In the redme there is a link to instructions how to do that.
I will be away for 10 days or more, will look into it when i'm back :)

[2019-08-09 08:13] chozze commented on #5
Let me know if you need access via UPC CZ. please help us :)

[2019-08-09 17:54] pedriterman commented on #24
I have the exact same problem

[2019-08-12 11:56] arvvoid commented on #24
I will need a full debug log recreating the problem to fix this since I don't have access to the "region".

[2019-08-12 12:24] arvvoid commented on #5
Atm i don't have the time too experiment with this, but will see what i can do when i have some free time if someone don't fix it before.

[2019-08-14 17:52] BrownEmmett opened #25 "Playback not working (License update not successful (no keys))"
REMOVE

[2019-08-14 17:54] haakobja commented on #24
Does the following debug-log help?
https://paste.ubuntu.com/p/4Pp7b4GC9m/

[2019-08-14 20:36] arvvoid commented on #25
This is related to https://github.com/emilsvennesson/script.module.inputstreamhelper/issues/59 A Widevine manual update solves the problem, will leave this here until a fix for inputstream.helper is out so users experiencing the same problem know whats going on.

[2019-08-14 20:58] arvvoid commented on #24
From the log looks like all the items returned in the category all series by hbo go get properly added.

https://api-hbon.hbo.clearleap.com/cloffice/client/web/browse/f5dde064-495d-41dc-8cd7-cbb76baaf8d0?language=en_hbon

The last item added in the log is SMILF and the last item in the returned xml is SMILF. Can you post a screenshot showing the first and last item in the list?
Please note that th

[2019-08-15 05:53] haakobja commented on #24
The link you posted seems to return the same items that I see in the plugin. It is a total of 200 items in the file, but the `clearleap:totalResults`-tag says it should be 281. So there are 81 items missing from the list.

I also logged in on `hbonordic` and checked the *All series* list, which has the same GUID as you posted. When looking at the calls that the web client did, it seems like API is

[2019-08-15 10:21] arvvoid commented on #24
@haakobja Ok with the info you provided this is an easy fix. I will post a test version when it is ready and if all is ok will make a release.

[2019-08-15 17:03] #25 closed, assigned to arvvoid

[2019-08-16 07:48] arvvoid commented on #24
@haakobja Hello, please download the current master https://github.com/arvvoid/plugin.video.hbogoeu/archive/master.zip use the install from zip function in Kodi and test. If all is ok will make a release.

[2019-08-16 17:53] haakobja commented on #24
I did a quick test, and `All series` and `All Movies` seems to list everything. Howerver, the listing seems to take a while for the movies. So maybe it is possible to optimise the retrieval a bit? But that's just nitpicking as it currently lists all movies and all series.

[2019-08-17 10:59] pedriterman commented on #24
I can't install it in my fire tv stick. It says that can't satisfy inpustream dependencies.

[2019-08-17 22:53] jbrepogmailcom opened #26 "[SUPPORT] Left in unstable state, plugin does not play"
* [ ] Are you running the latest version?
Yes

**Describe the bug**
I got info from plugin that some software from Chrome needs to be installed. I chose YES but then when it tried to start 2GB download I cancelled it. Now it seems that plugin "thinks" that newer version of Chrome has been installed, but it was not. Movies do not play.

I tried to completely uninstall plugin and wipe settings, but

[2019-08-18 11:29] arvvoid commented on #24
@pedriterman I bumped the requirment for inputstream.adaptive to the latest version witch is out for some time now so thought all platforms cached up by now. I will drop the requirment for the release but is recomended to use the latest version of inputstream.adaptive if possible.

[2019-08-18 11:45] arvvoid commented on #26
This is not an add-on bug. Old versions of widevine are not usable anymore becouse of content providers changes. Recently inputstream adaptive helper got updated to be able to install the latest version of widevine. For arm devices the only legal source of the widevine library is the chromeos img from witch is then extracted, canceling the download and instalation leaves you with the old widevine

[2019-08-18 17:57] jbrepogmailcom commented on #26
Thank you. I confirm that deleting content of .kodi/cdm folder worked.

[2019-08-18 17:57] #26 closed, assigned to nobody

[2019-08-19 11:42] pedriterman commented on #24
I updated Kodi to 18.3 and everything is working great. Can't tell if now is slower because fire TV is slow as it is

[2019-08-19 13:19] arvvoid commented on #24
@pedriterman ok perfect

@haakobja @pedriterman All Series and All Movies lists are fairly long and have to retrieve images for each item as well so it can get slow on slower devices. There is no caching mechanism implemented yet.
It could be made faster by mainteing the pagination and having to click next page at the bottom of the list but personally, find that annoying especially if you trying t

[2019-08-19 13:40] haakobja commented on #24
My immediate thought when I looked at the code, was to create batches and retrieve them in parallel. But it might not speed up the process significantly.  The main functionality of retrieving every item is there, so for me that's good enough

[2019-08-20 09:53] arvvoid commented on #24
I went for the quick and simple solution for now to fix the functionality, will make a release today.
When i find some time i will do some optimization-restructure on global add-on level.

[2019-08-20 18:43] arvvoid commented on #24
Fixed

[2019-08-20 18:43] #24 closed, assigned to arvvoid

[2019-09-03 20:37] Paco8 opened #27 "[BUG] No italics in subtitles in HBO Spain"
I'm using HBO Spain. I noticed that subtitles never use the italic format (normally used for songs or words in other languages).
In the original subtitle files the &lt;span&gt; tag is used to mark them but it seems the conversion done in ttml2srt.py ignores that tag.

My knowledge about python is almost zero but I managed to write this patch which seems to fix the problem:

[code]

[2019-09-05 11:09] arvvoid commented on #27
Tnx for reporting, will look into it

[2019-09-05 16:04] Paco8 commented on #27
I made a mistake with the patch. I think this is the correct one:

[code]

[2019-09-12 19:20] arvvoid commented on #27
Can you please send a pull request?

[2019-09-16 07:05] arvvoid commented on #27
Fixed with pull request https://github.com/arvvoid/plugin.video.hbogoeu/pull/29

Will be included in next relese

[2019-09-16 20:33] arvvoid commented on #27
Relesed fix in 2.0.14~beta30

[2019-09-16 20:33] #27 closed, assigned to nobody

[2019-10-01 18:03] bugproof opened #31 "Using VLC as an external player"
Trying to play using VLC:

![image](https://user-images.githubusercontent.com/3116731/65987730-b41c1280-e486-11e9-8e61-162894d4c823.png)

![image](https://user-images.githubusercontent.com/3116731/65987641-8931be80-e486-11e9-946d-27283bcf7de2.png)

any idea why this happens?

playercorefactory.xml

[code]

it's interesting because I can see HBO logo just for 1 moment despite all this

It would be

[2019-10-01 19:58] arvvoid commented on #31
Hello, this is not a supported use case, and probably will never be, VLC, as far as I know, don't have the necessary DRM support to play DRM protected streams. https://wiki.videolan.org/Digital_Restrictions_Management/
This would need changes in VLC and VLC to add DRM support. What that context menu does, it simply passes the "file" to VLC, and VLC would need to handle all the rest, including the

[2019-10-01 19:58] #31 closed, assigned to nobody

[2019-10-02 07:52] bugproof commented on #31
Thanks for your answer. So what I would need is some kind of plugin that is able to decrypt Widevine protected stream. That's an interesting idea for the project. I wonder if it's doable.

[2019-10-02 09:43] arvvoid commented on #31
No problem. No you haven't understood correctly, you would need to add to VLC the ability to use the widevine library (proprietary closed source, https://en.wikipedia.org/wiki/Widevine) to decrypt/decode the content like web browsers do.
In Kodi that is handled with a binary add on inputstream.adaptive source here: https://github.com/peak3d/inputstream.adaptive witch add DRM support and adaptive s

[2019-10-13 15:45] atleta opened #35 "[INFORMATION/SUPPORT] Install instructions for debian based distros is incorrect"
The following package names are incorrect and should be replaced with these

[code]

Also, the package names can be passed to `apt install` at once, which makes things quicker and simpler, so instead of what you have now in the 'OPTIONAL' section you should simply add this:
[code]

The reboot is also unnecessary.

[2019-10-13 19:42] arvvoid commented on #35
Hello, thanks for pointing it out. What version of Debian are you referring too? The last time i tested the commands were working with no issues on an OSMC/Raspbian system.

Also pycryptodome and pycryptodomex are 2 different packages.

The add-on uses pycryptodomex, on other platforms is usually available by default or in form of a Kodi script.module available in the official repo.
On Linux syste

[2019-10-13 22:06] arvvoid commented on #35
In the current install instructions **pip** is used to install the most recent version of pycyptodomex https://pypi.org/project/pycryptodomex/ , https://pycryptodome.readthedocs.io/en/latest/src/installation.html

[2019-10-13 23:17] atleta commented on #35
Hi,

It's a new installation of OSMC, /etc/debian_version says it's 9.9. Also, the package names (python-*) seem pretty consistent with the debian naming conventions, so I'm surprised that your version worked even if on an earlier or newer (unstable/testing?) distro.

Well, then I don't know if python-pycryptodome is needed (didn't pay attention whether the -ex version was mentioned as an addition

[2019-10-14 00:18] atleta commented on #35
I'm sorry I've missed this message. My report is about the `apt install` instructions in the readme file. You're right, it also does mention that "script.module.pycryptodome 3.4.3+ (should get installed automatically in Kodi 18)", which may mean that the python-pycryptodome (deb) package is not needed at all, but still the instructions in the install section are wrong. (I've just installed it on a

[2019-10-14 06:55] arvvoid commented on #35
Hello, is entirely possible that on newer OSMC pycryptodomex is preinstalled by default like in LibereElec, CoreElec ecc...
Not sure what python-pycryptodome install (if it actually install the standalone pycryptodomex then doing just apt install python-pycryptodome is enough all the rest is not necessary), according to pycryptodomex documentation **pycryptodome** is a drop-in replacement for pycr

[2019-10-14 13:04] atleta commented on #35
Hi,

Ah, sorry, didn't realize that there were two pip install commands buried in the middle :). First I just pasted the above section as is (without the reboot) and it failed. I haven't even read the error message because I knew that the package names were incorrect for apt (but didn't realize that they would be installed with pip). But even then adding all packages into a single apt install call

[2019-10-14 14:45] arvvoid commented on #35
No problem happens, I was also reading and answering in a hurry.
All versions from 3.4.3 onward are ok and will work, there is no problem with always installing the latest pycryptodomex the exposed functions should not change, at least what the add-on uses to encrypt the credentials and session data stored on disk should not break with any future updates to the library.

I will try to make the com

[2019-10-15 00:26] atleta commented on #35
I've just finished installing it on a second OSMC installation and I found that indeed python-pycryptodome is not available in the default debian repos used by OSMC. (They use version 9.x/stretch and it became available in v10/buster. Though it's backported to stretch, most people won't have the backports enabled, as it's not added by default.) I don't know what failed on my first attempt, but try

[2019-10-15 07:18] arvvoid commented on #35
Thanks for taking the time to test this.

**This are the new install instructions:**

* Download [repository.arvvoid-1.0.0.zip](https://raw.github.com/arvvoid/repository.arvvoid/master/repository.arvvoid/repository.arvvoid-1.0.0.zip) and use the install add-on from zip function in Kodi
* Install the add-on from repository "Kodi ArvVoid Repository"
* Follow the setup wizard at first add-on run
* *O

[2019-10-17 14:57] #35 closed, assigned to nobody

[2019-10-22 09:24] mata007 opened #37 "[BUG] Script error after entering credentials"
* [x] Are you running the latest version?

**Describe the bug**
After selecting the region and entering the login name and password, only a popup with the HBO GO EU plugin error will be displayed.
[LOG PASTE IN MSG REMOVED]

## Debug log
[Link to full log is here.](https://raw.githubusercontent.com/mata007/error-logs/master/kodi-hbo-go-eu-credentials-error.log)

**Operating System**

* [ ] Linux (

[2019-10-22 16:24] arvvoid commented on #37
Its a device UUID encoding problem, some strange character in the device UUID.

Try the current master should fix the problem: https://github.com/arvvoid/plugin.video.hbogoeu/archive/master.zip

This will need some more testing before its released.

[2019-10-23 20:33] mata007 commented on #37
It works perfectly. Thank you

[2019-10-23 20:33] #37 closed, assigned to nobody

[2019-10-28 11:38] arvvoid opened #40 "External contributors to all-contributors"
Add contributors to all-contributors

[2019-10-28 11:40] arvvoid commented on #40
For initial add-on code @all-contributors please add @billsuxx for code

[2019-10-28 11:40] arvvoid commented on #40
@all-contributors please add @billsuxx for code

added for old original code used for initial release, that code was derived from Bulgarian version

[2019-10-28 12:18] arvvoid commented on #3
@all-contributors please add @tmihai20  for translation

[2019-10-28 12:18] arvvoid commented on #3
@all-contributors please add @Ike201  for translation

[2019-10-28 12:20] #40 closed, assigned to nobody

[2019-10-28 12:41] arvvoid commented on #24
@all-contributors please add @haakobja  for bug

[2019-10-28 12:43] arvvoid commented on #18
@all-contributors please add @sile70000 for bug, ideas

[2019-10-28 12:46] arvvoid commented on #11
@all-contributors please add @ntilagoa for bug

[2019-10-28 12:54] arvvoid commented on #40
@all-contributors please add @CastagnaIT for ideas, code

device UUID code in this add-on is based on code from CastagnaIT Netflix add-on

[2019-10-28 12:54] arvvoid commented on #40
@all-contributors please add @CastagnaIT for ideas, code

[2019-10-28 13:10] arvvoid commented on #35
@all-contributors please add @atleta for ideas

[2019-10-28 13:41] arvvoid commented on #40
@all-contributors please add @arvvoid  for question, review

[2019-10-28 14:02] arvvoid commented on #40
@all-contributors please add @arvvoid for docs

[2019-10-28 14:10] arvvoid commented on #40
@all-contributors please add @karkusviktor  for code

[2019-10-28 14:12] arvvoid commented on #40
@all-contributors please add @arvvoid for docs

[2019-10-29 07:36] arvvoid commented on #37
@allcontributors-bot please add @mata007 for bug

[2019-11-04 08:45] arvvoid commented on #5
How to take a browser log from witch this have a chance to be figured out:

Use Chrome or Chromium

1) Logout from Hbo go if you are logged in
2) Go to your official Hbo go website and open Chrome developer tools

![Screenshot 2019-11-04 at 09 30 31](https://user-images.githubusercontent.com/46710439/68108052-fbaf1780-fee6-11e9-83bc-0de1eb28a097.png)

3) Open the Network TAB
4) Check the preserve

[2019-11-04 10:52] arvvoid opened #69 "Missing features Spain/Nordic handler"
Some features are missing from the Spain/Nordic version My List, Add/Remove from my list, voting, search.

If someone is willing to log all these actions with chrome developer tools and post the log I can fix it (be informed that the log will probably contain your credentials so remove them before sending the log with a text editor search and replace function, and change your password after taking

[2019-11-04 10:55] arvvoid commented on #69
@Sakerdot @sanangel @PolliSoft @macardi @jhdgghost @jumakki

[2019-11-04 12:20] arvvoid commented on #8
If someone is willing to do a browser log performing all the actions on the hbo go website with chrome developer tools and post the log I can start evalueting what changes have to be made (be informed that the log will probably contain your credentials so remove them before sending the log with a text editor search and replace function, and change your password after taking the log):

1) Go and lo

[2019-11-04 20:44] macardi commented on #69
I have tried to do what you asked for but I may have done something wrong because the log file become extremely long and big (94 MB). To big to be uploaded here and to long to be pasted in pastebin or paste.ubuntu.

[2019-11-05 00:27] rsn13 commented on #5
Here's my logs for the UPC Ro with blanked out credentials - no luck for ya snoopers xD hope this helps! :)
[hbogo.ro.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3806659/hbogo.ro.txt)

ps. I had 2 failed attempts first because I'm stupid and forgot which email I used

[2019-11-05 08:46] arvvoid commented on #5
@rsn13 hello, thx that will be useful but will take some time. Please also send me a full debug log from Kodi take it while trying to setup the add-on

[2019-11-05 08:50] arvvoid commented on #69
@macardi Hello tnx, keep in mind that all images ecc get logged as well, including the encrypted video segments during playback...
For now try to make a log without starting the playback perform all other action.
Then if you want can try to make one for playback as well but you need to start the playback and move quickly away from the playback page return to list because even if you stop the playb

[2019-11-05 15:37] jumakki commented on #69
Hi, I don't have active subscription at the moment, but I was still able to record search, adding to watchlist, showing watchlist and removing from watchlist. I hope those give you something to start with.
[REMOVED SOLVED]

[2019-11-06 08:35] arvvoid commented on #69
@jumakki Thanks, from your log search and add and remove to watchlist is clear and can implement that easily now. But to get watchlist right I will need more stuff logged. The content id for watchlist is unique for each user so we need to catch the API call (on eu version is a config call that list all urls and content ids of special dirs).

Can you log all that happens when hitting https://fi.hbo

[2019-11-06 17:18] jumakki commented on #69
@arvvoid Here is logs from opening https://fi.hbonordic.com/watchlist right after opening Chrome.
[REMOVED SOLVED]

[2019-11-06 21:10] arvvoid commented on #69
@jumakki Tnx, that's all the info I need. Soon search and watchlist will be implemented, then will need testers :) If you or someone can log the voting functions as well can add that too...

[2019-11-07 15:19] arvvoid commented on #69
WORK IN PROGRESS: https://github.com/arvvoid/plugin.video.hbogoeu/pull/70

[2019-11-07 15:48] arvvoid commented on #69
@jumakki @macardi Please test, this includes Search, My List, Add/Remove from my list, as always a full debug log would be helpful even if all seams to work.

[REMOVED BROKEN]

[2019-11-07 21:03] macardi commented on #69
Hi, tested the new version. Search is working fine, Add/remove from my list gives me an error.

[LOG REMOVED]

Thank you again for all your hard work with this plugin, love it!

[2019-11-07 21:30] arvvoid commented on #69
@macardi Thank you for the feedback. Does listing My List work?

Here is a new test version:
[BROKEN REMOVED]

This should fix the reported problems, let me know how it goes :)

[2019-11-09 10:53] macardi commented on #69
Tested the new version. I can view my list, search is working, remove from my list is working. But add to my list gives an error message and the episode is not added to my list.

[LOG REMOVED]

[2019-11-09 13:47] arvvoid commented on #69
@macardi Hello tnx, can you try to add to my list a movie and a series from the top folder not from Season or Episode listing

[2019-11-09 19:55] macardi commented on #69
Ok, I think that I did what you asked for. The log became to big to be paste so providing a zip-file instead.

[LOG REMOVED]

[2019-11-09 20:50] arvvoid commented on #69
@macardi Hello thank you. Please try this version
[REMOVED SOLVED]

This version will also generate smaller logs

Try to add a movie and a series (by selecting the series, not an individual episode)

[2019-11-10 11:00] macardi commented on #69
Hi, add a movie to my list works, and also add a tv series episode. But I got en error when trying to add a whole series. Adding a whole series is not possible in the official app or on the web
either.

[REMOVED SOLVED]

[2019-11-10 21:15] arvvoid commented on #69
@macardi @jumakki Ok tnx that work then. I assumed that it was the other way around because on the eu version you can add only a full series and no individual episode.

But does the whole series get added to my list after you add it from an individual episode or it add only that specific episode? (don't have access to the nordic/spain region so I work with no reference of the official client). Ple

[2019-11-11 15:50] macardi commented on #69
The whole series does not get added to my list when I try to, I wish it would because just adding a single episode is pretty worthless. And there have been a lot of criticism about this behavior, but I guess you cant do anything about that because that how it is implemented by HBO Nordic.

Concerning a voting system, I have checked in the app and in the browser  but cant find any. Unless I have mi

[2019-11-11 18:09] arvvoid commented on #69
Thanks for the information.
Yeah, that makes no sense at all, adding single episodes to watchlist is not useful at all IMO. Since is implemented like that on hbo side there is nothing to do. I will simply remove the add to my list option from directories it will appear only on movies and single episodes like in the official client.

Ok then that's it for now. I will close this issue since all the

[2019-11-11 18:09] #69 closed, assigned to arvvoid

[2019-11-14 19:07] durip commented on #5
hello, here is my logs for the Skylink Slovakia with blanked out credentials. thank you in advance
[hbogo.sk.har.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3848182/hbogo.sk.har.txt)
[kodi.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3848221/kodi.txt)

[2019-11-18 21:40] andreas1974 opened #73 "Films are playing at low res and low fps despite CPU < 30% Raspberry pi 2 LibreElec"
* [X] Are you running the latest version?
Yes, plugin.video.hbogoeu-2.0.21.beta39

**Describe the bug**
Raspberry Pie 2. The movie plays smoothly but in low resolution (416x234 px) and 8 fps. All the CPU are at 30% or lower all the time. One of the CPU meters is often higher then the other three, at 20% or so, rare jumps up to 30%.

**To Reproduce**
Steps to reproduce the behaviour:
1. Play any fi

[2019-11-19 08:18] arvvoid commented on #73
Hello, this doesn't sound right, that's not the usual behavior, with default inputstrea.adaptive settings and default Kodi settings if your network connection is ok, 1080p 25fps should work with no issues, and work with no issues on all my test devices including Rpi2 (but Rpi2 at the moment is really underpowered for a media center).
I have no vital information about the os used and/or your system

[2019-11-19 09:44] andreas1974 commented on #73
You were perfectly right, it was a misconfiguration of inputstream.adaptive!
I guess it must have been when I tried to get Netflix to work last summer, that I changed Stream Selection to manual. Now I just set it to Auto, and the HBO series runs nicely at 25 fps and at the full resolution of my TV.
Thank you so much!
![I had stream selection set to manual](https://user-images.githubusercontent.com

[2019-11-19 10:14] arvvoid commented on #73
Glad its solved for you, enjoy the add-on :)

Ignore Display Resolution is useful on screens with no standard resolutions, if your screen is standard no need to enable that.
Override HDCP status is useful to report HDCP as enabled to the content provider, for this add-on it make no difference. For Netflix add-on, for example, is important if you are using it on a certified Widevine L1 device with

[2019-11-19 10:14] #73 closed, assigned to nobody

[2019-11-24 19:40] xjoska commented on #5
Hi,

please find attached logs for UPC CZ.  Thank you.

[kodi2.log](https://github.com/arvvoid/plugin.video.hbogoeu/files/3884043/kodi2.log)
[hbogo.cz.har.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3884044/hbogo.cz.har.txt)

[2019-11-26 20:31] ferdabasek commented on #5
Hello,
I tried to edit Skylink CZ.

So far it works for me. But you'll have to edit the code.

[constants.py.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3893908/constants.py.txt)
[handlereu.py.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3893909/handlereu.py.txt)

![obrazek](https://user-images.githubusercontent.com/58233539/69670260-cafc7100-1093-11ea-9eac-33445f1d9e3

[2019-11-26 21:20] Bossillio commented on #3
Russian translation
[REMOVED]

[2019-11-26 23:02] arvvoid commented on #3
@Bossillio hello, no binary files please only translations in txt format with utf-8 encoding are allowed

[2019-11-26 23:13] arvvoid commented on #5
@ferdabasek Hello, tnx for your contribution. Please send a pull request with your changes if you can.

[2019-11-27 14:18] durip commented on #5
@ferdabasek great work! I tried your changes and it works for Skylink Slovakia.

[2019-11-27 15:02] arvvoid commented on #5
@all-contributors please add @ferdabasek for ideas, code

[2019-11-27 15:04] arvvoid commented on #5
@all-contributors please add @durip for userTesting

[2019-11-28 12:35] arvvoid commented on #5
Hello Please test when you can @ferdabasek @durip :
https://github.com/arvvoid/plugin.video.hbogoeu/archive/Skylink_fix.zip

Use install from zip function in Kodi

First, i need confirmation it works for Skylink CZ and SK on kodi 18

After that, if someone is willing will give instructions on how to test on Kodi 19 Python 3

After that, it can be merged and will be part of the next standard releas

[2019-11-28 13:36] cyberreality commented on #5
if needed i can test on Kodi19/python3 ... i'd need help to start hbo go
on python3, is there paralel build?

On 11/28/2019 1:35 PM, Arv.Void wrote:

[2019-11-28 14:00] arvvoid commented on #5
@cyberreality current Kodi master nightly builds can be used but only on MacOS or Linux (not sure about the Adndroid nightly build) that share the system python installation so pycryptodomex can be installed manually using pip. On windows Kodi 19 build pycrytodomex is currently broken so until that's fixed the add-on can't start on Kodi 19 Windows since pycryptodome is a prerequisite.

I suggest i

[2019-11-28 14:04] cyberreality commented on #5
yeah, because of pycrytodomex problem i'm running on kodi 19 from
october 11th, lastone with python2
the only reason why runnin gon 19 is deinterlace problem on kodi18, so
messy image on dvb-s2 ... so i'm somewhere i nthe middle :)

On 11/28/2019 3:00 PM, Arv.Void wrote:

[2019-11-29 13:19] arvvoid commented on #5
Fix for Sylink included in latest pre-release: https://github.com/arvvoid/plugin.video.hbogoeu/releases

[2019-11-29 13:46] arvvoid commented on #5
Blind fix attempt for UPC CZ and SK if someone using UPC CZ from CZ or SK is reading please test and join discussion here:  https://github.com/arvvoid/plugin.video.hbogoeu/pull/79

@xjoska @chozze

[2019-11-29 15:52] arvvoid commented on #5
https://github.com/arvvoid/plugin.video.hbogoeu/pull/79 provide a tentative fix for UPC Romania as well testers needed...

@alpa4r @ursan2003 @rsn13

[2019-11-29 18:30] chozze commented on #5
@arvvoid I tried UPC CZ, same login error on Kodi 18

[2019-11-29 20:36] ferdabasek commented on #5
@arvvoid
I don't have UPC. UPC has probably different URLs for GET and POST.

[UPC_LOGIN.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3906350/UPC_LOGIN.txt)

![obrazek](https://user-images.githubusercontent.com/58233539/69889222-1317cf80-12f0-11ea-8a23-f49fb8f6af1e.png)

[2019-11-29 20:44] ferdabasek commented on #5
You may need to enter the complete URL:

[2019-12-01 17:58] arvvoid commented on #5
@ferdabasek not sure what is causing the problem, looking at the logs it should be fine posting simply to https://service.upc.cz/login/pkmslogin.form, should work looking at the browser logs... but can't really experiment not having access to the operator. That complete URL is just to reach the login page and is already called I think.

[2019-12-09 23:35] splichy commented on #5
Hi @arvvoid you had wrong login redirect URL see https://github.com/arvvoid/plugin.video.hbogoeu/pull/84

[2019-12-10 08:53] arvvoid commented on #5
@splichy tnx for your contribution, going to merge your PR

[2019-12-10 08:58] arvvoid commented on #5
@all-contributors please add @splichy for ideas, code

[2019-12-10 09:03] arvvoid commented on #5
Now just need confirmation this work for UPC CZ and SK: https://github.com/arvvoid/plugin.video.hbogoeu/archive/UPC_cz_sk_fix.zip
@xjoska @chozze @splichy

Also need confirmation if it works for UPC Romania: https://github.com/arvvoid/plugin.video.hbogoeu/archive/UPC_cz_sk_fix.zip
@alpa4r @ursan2003 @rsn13

Waiting on this to merge and push the next stable release

[2019-12-10 09:12] chozze commented on #5
Bravo @arvvoid, I'm happy to confirm it works for UPC CZ!

[2019-12-10 09:17] chozze commented on #5
btw just FYI, that UPC was bought by Vodafone so we can expect to change the login redirect URLs to change in near future once again.

[2019-12-10 09:35] arvvoid commented on #5
@chozze Vodafone at least for other countries uses standard 3th party operator login. But changes can happen with no notice at any time in any segment. Hopefully, we will be able to sort out future changes quickly.

[2019-12-10 10:05] #2 closed, assigned to nobody

[2019-12-10 10:21] arvvoid commented on #3
To all translators: all language files need updating

[2019-12-10 10:31] splichy commented on #5
At least for UPC SK login will change after LGI finish transition(UPC SK wasn't part of deal).
Not sure what will happen with UPC CZ but there is chance that will remain unchanged as it uses upc.cz. domain.
We will see in a year

[2019-12-10 10:34] splichy commented on #5
I have created pull request to add your addon into kodi-czsk repository
https://github.com/kodi-czsk/repository/pull/54

[2019-12-10 11:26] arvvoid commented on #5
@splichy what version will be added there? pulling directly from master is not a good idea. I already maintain a repository with stable releases (https://github.com/arvvoid/repository.arvvoid) and plan to send the add-on to the official repo in the near future. So I would like to keep consistency with the versions in the repositories I would prefer to have only stable releases in repository.

I ca

[2019-12-10 13:02] arvvoid commented on #5
@splichy here you go clean branch stable release ready https://github.com/arvvoid/plugin.video.hbogoeu/tree/repo_ready_stable each stable release is a single commit will get updated with each stable release a stable release with this fixes will be available in max few days

[2019-12-10 14:08] splichy commented on #5
kodi-czsk works on principe: when version in addon.xml changes in master than run: update submodule... and publish new version.
Especially for CZ & SK users this is one of the best sources of addons - it's much simpler to add just single repo than searching over internet and adding dozens repos
IMHO it's good practice to keep development in branches and latest stable in master

right now kodi-czsk

[2019-12-10 14:18] arvvoid commented on #5
@splichy the master branch is generally stable and functional but can contain files not really necessary to be included in the release zip (the add on will still work but unnecessary files, test scripts, github configurations, possibly build scripts, CI configs, gitignore lists ecc will get included as well)

[2019-12-10 14:24] splichy commented on #5
according to release.sh precompiled, swap and hidden files are excluded:
```zip -FS -q -r "$package" "$dirname" -x "*.py[oc] *.sw[onp]" ".*"```
So prepending `.` before everything you don't wan't to be packed to final zip should be enough

[2019-12-10 14:30] splichy commented on #5
^^^ sorry ```".*"``` is not part of -x argument
But I think that excludes in release script can be extended

[2019-12-10 18:26] arvvoid commented on #5
@splichy if you want to include it in the CZ repo is fine, just some unneeded stuff will get in the ZIP with this system. After this release is ready (2.1.0), I will submit to the official Kodi repo.

[2019-12-10 19:08] splichy commented on #5
OK, No problem, didn't know about your idea putting it into oficial repo

Dne út 10. 12. 2019 19:26 uživatel Arv.Void <notifications@github.com>
napsal:

[2019-12-11 07:30] arvvoid commented on #5
Hello, we went a little offtopic with the last few posts, is there someone using UPC Romania able to test if by any chance the last PR fixed the login?
@alpa4r @ursan2003 @rsn13

test current master: https://github.com/arvvoid/plugin.video.hbogoeu/archive/master.zip

[2019-12-11 17:15] tmihai20 commented on #3
What is a Home Category or a Home List? I do not understand it so I can translate it in Romanian (cc @arvvoid ). Is it like a personalized category or list?

[2019-12-12 09:17] arvvoid commented on #3
Hello @tmihai20 Home Category is the root category the first thing displayed when opening hbo go where all links to other subcategories are. Home lists are the lists displayed on the home screen like Fetured, Weekly Top, ecc.., ecc..

Basically now there is an option (not enabled by default) to make the add-on not display links to all these lists directly on the first screen but instead display Ho

[2019-12-12 11:52] tmihai20 commented on #3
So it would be a base like category, right? I still cannot think of a translation for Home List or Category. I have translate Home as Base in Romanian. I have also made minor changes to some of the existing strings. I hope they are ok. If there is any Romanian person with an alternative for Home Category/List, please reply and cc me. Updated English strings can be found below.

[2019-12-14 20:56] boblo1 commented on #3
@arvvoid, I have reviewed the spanish translation and the updated PO file is attached to this message. Before submitting it to the repository, please check the first lines (then you can safely remove them).
Regards.
[strings.zip](https://github.com/arvvoid/plugin.video.hbogoeu/files/3964338/strings.zip)

[2019-12-16 22:08] Ajnasz commented on #3
Here is the Hungarian translation.

[strings_hu.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3970383/strings_hu.po.txt)

[2019-12-17 08:54] arvvoid commented on #3
@tmihai20 @boblo1 @Ajnasz Tnx for the updated translation I will check and include in the next release.

[2019-12-17 09:40] jumakki commented on #3
Finnish translations.
[strings_fi.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3972503/strings_fi.po.txt)

[2019-12-17 09:53] boblo1 commented on #3
First of all, check the first lines of my translation. They contain corrections to original english messages. When those corrections are checked and applied, you can remove those lines.
Hope this helps

[2019-12-17 10:14] tmihai20 commented on #3
@boblo1 is correct. We need to correct the English strings a little bit. Here is my updated strings in Romanian with the corrected strings in English included.
[strings.ro.v2.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3972661/strings.ro.v2.txt)

I made this pull request, try to review it https://github.com/arvvoid/plugin.video.hbogoeu/pull/89.

[2019-12-17 13:31] arvvoid commented on #3
@boblo1 @tmihai20 Merged https://github.com/arvvoid/plugin.video.hbogoeu/pull/89

[2019-12-17 17:19] boblo1 commented on #3
@arvvoid : You forgot to commit my translation. Thanks.

[2019-12-17 18:09] arvvoid commented on #3
@boblo1  like I said the updated translations will be included in the next release, I didn't forget anything.  I simply merged PR #89  now

[2019-12-17 18:12] arvvoid commented on #3
@all-contributors please add @boblo1 for translation

[2019-12-17 21:07] #5 closed, assigned to arvvoid

[2019-12-17 23:37] arvvoid commented on #3
Language files have been updated and sync-ed in bf716f45c96d20e4d73e296dc33eb534afe68f27 some new strings have been added for the send elapsed time to Hbo go update (EU only for now) so new updates to the language files are necessary

[2019-12-18 09:47] arvvoid commented on #3
Language files got updated in the last commit

[2019-12-18 10:43] jumakki commented on #3
Finnish texts updated
[strings_fi.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3977927/strings_fi.po.txt)

[2019-12-18 15:37] boblo1 commented on #3
Here is the updated Spanish translation. I have also checked the original messages in English again and there were still some errors, I have corrected them. Since I still cannot make pull requests, I have attached both files to this post.

@arvvoid : my suggestion is that you use a file editor with autocompletion, e.g. Notepad++. It's free, so you'll always type words without errors. In addition,

[2019-12-18 16:12] arvvoid commented on #3
@boblo1 Tnx for your contribution. I will check and resync the language files if needed with Poedit so nobody have to do it manually after the corrections to English.
 I already use Poedit, just wasn't in my focus to do this now, so tnx for saving a lot of time.

[2019-12-18 20:23] arvvoid commented on #3
@boblo1 and all translators all language files are now resynced after corrections to English so all language files include the corrections to the msgids

[2019-12-19 09:59] Ajnasz commented on #3
Updated the Hungarian translations

[strings_hu.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3982889/strings_hu.po.txt)

[2019-12-20 08:55] tmihai20 commented on #3
I have made changes directly by creating a pull request https://github.com/arvvoid/plugin.video.hbogoeu/pull/96. I hope this is ok.

[2019-12-20 09:31] arvvoid commented on #3
@tmihai20 Merged :)

[2019-12-20 09:39] boblo1 commented on #3
@arvvoid : is there a way to download only one file instead of downloading the whole project? And how could I do a PR? I don't think I have the necessary permissions in your repository. Thank you.

[2019-12-20 09:48] arvvoid commented on #3
@boblo1 yes, when you viewing a file on GitHub there is an option to show the **RAW** version, you can view the RAW version and simply save it or use the save link option of your browser depending on the browser you using. (for language files i made links for direct download on the initial post of this issue as well). Anyone can open a pull request, there is plenty of information on GitHub help pa

[2019-12-20 11:12] Ike201 commented on #3
latest version of PO for Czech lang:
[strings.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/3988012/strings.po.txt)

[2019-12-20 12:33] boblo1 commented on #3
I tried to make a pull request and GitHub claim that a clone of this project should be created first in my repository with new changes, because I don't have direct write permission to this repository. Is this normal?

[2019-12-20 13:37] arvvoid commented on #3
@boblo1 yes that's normal, please read the links above and read this https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-collaborative-development-models. This now is going offtopic on this issue.
You have to do your own fork, preferably create a themed branch push your changes to your branch in your fork (clone) and then open a pull request from your branch to this

[2019-12-20 14:55] boblo1 commented on #3
Got it. Thanks and sorry for going off-topic.

[2019-12-20 19:26] arvvoid commented on #3
When possible if no translation is available an initial machine translation has been provided to make it easier for new translators

[2019-12-27 10:18] arvvoid opened #101 "[BUG] UPC Romania, login not supported"
* [x] Are you running the latest version?

**Describe the bug**

Related to #5, login for UPC Romania is still not working.
Users reported on the Kodi forum

**To Reproduce**
Steps to reproduce the behaviour:
Run setup, will fail on login

**Expected behaviour**
Login sucessful

## Debug log

https://paste.kodi.tv/arivekofoh

**Screenshots**
If applicable, add screenshots to help explain your prob

[2020-01-07 21:04] HereInPlainSight commented on #8
Hiya!  I have HBO Go in the US, with the provider Optimum.  You didn't specify exactly what 'these actions' are in the 'perform these actions' part, so...  I did everything.  Went to all the different categories and subsections.  If you need a smaller log with only specific actions (like just logging in through my provider and then playing a video), please let me know.

Due to the size of the log

[2020-01-08 08:32] arvvoid commented on #8
@HereInPlainSight Hello, thanks for sharing the log. It is a starting point. Going to analyze it for the weekend most likely if I have time. From a quick look, the API is completely different so a new handler for US region has to be written from 0.
The log is ok, since we are in 100% uncharted territory more data and more actions covered the better.
When I have some time will try to do a tentative

[2020-01-24 09:52] #15 closed, assigned to nobody

[2020-01-24 09:53] #17 closed, assigned to nobody

[2020-01-29 08:27] arvvoid opened #109 "[REQUEST] Set correct media type on lists"
The media type for lists not set according to the list content.

[2020-01-29 08:28] arvvoid commented on #109
Fixed in 8a59671886bbcf98d43dd2e0e5de4b4ae8b9df34

[2020-01-29 08:28] #109 closed, assigned to nobody

[2020-01-29 08:29] arvvoid opened #110 "[BUG] Sometimes playback fail becouse login is expired"
Sometimes playback fail because login is expired

[2020-01-29 08:30] arvvoid commented on #110
Solved in 2.2.0 with always forced relogin before playback. Will explore a better way in the future.

[2020-01-29 08:30] #110 closed, assigned to nobody

[2020-02-03 19:55] Paco8 opened #111 "[BUG] Search fails if the words contains "ñ""
* [x] Are you running the latest version?

**Describe the bug**
I'm using HBO Spain. I tried to search for a movie using the word "señal", the addon displayed an error message and the search wasn't performed.
It also fails if I enter a word with "ç", so it seems that it fails when using non ASCII characters.

**To Reproduce**
Go to the search option in the addon, type "señal".

**Expected behaviou

[2020-02-03 22:01] arvvoid commented on #111
Hello, tnx for reporting. A fix will be available soon.

The thumbnails errors can be ignored and are expected on some items.

[2020-02-03 23:26] arvvoid commented on #111
@Paco8 Please test the current master the issue should be fixed.

[2020-02-04 07:55] Paco8 commented on #111
Yes, it's working now.
Thank you.

[2020-02-04 09:01] arvvoid commented on #111
Ok perfect this is fixed then

[2020-02-04 09:01] #111 closed, assigned to arvvoid

[2020-02-07 23:44] arvvoid commented on #3
@Ike201 @Ajnasz @kowalmisiek @tmihai20 @boblo1 @macardi @jumakki @jhdgghost

Hello, all language files need an update before the next release in Kodi repo.

[2020-02-08 10:43] Ike201 commented on #3
latest version of PO for Czech lang:
[strings.po.2020-02-08.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4174074/strings.po.2020-02-08.txt)

[2020-02-08 20:11] boblo1 commented on #3
Spanish translation updated.

@arvvoid: Please revise some occurrences of the text 'Hbo go' in original english messages and change them with text 'HBO Go'. The spanish translation already has this fix.

[strings_ES.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4175094/strings_ES.po.txt)

[2020-02-09 15:07] jumakki commented on #3
Finnish:
[strings.fi.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4177074/strings.fi.po.txt)

[2020-02-09 18:13] tmihai20 commented on #3
Romanian updated with PR #115 .

[2020-02-09 20:36] Ajnasz commented on #3
Hey!

I have two questions:
What is `generic "video" media type`?
Is there any other type of caching or can i say "Clear cache"?

Thanks!

[2020-02-10 07:29] Ajnasz commented on #3
I checked the code what is generic video media type.
What do you think to not add the setting, instead return it if the content is mixed?
Something like this: https://github.com/Ajnasz/plugin.video.hbogoeu/commit/92651ff77d23296d8d2bb4007c8c5a04848ddc8e

[2020-02-10 08:45] arvvoid commented on #3
@Ajnasz Hello, set "generic Video media" type is how the add-on behaved before. Set always Video (as folder type). What view types are available for various folder types depends on the skin used. So with the default Kodi skin using the video type is ok but on many skins, that behave poorly and miss a lot of information.  So now the add-on by default keep track of the number of movies/tv-shows/epis

[2020-02-10 09:08] arvvoid commented on #3
@Ajnasz yes you can say just use Clear cache, currently, there is only one type. My first implementation of the caching system had the request cache and had the image cache as well but gave up on that since I found out Kodi does image caching already and it does it async, that behave better, and folders are visualized faster, so I eliminated the image cache from the add-on and left only the reques

[2020-02-10 10:14] arvvoid commented on #3
Submitted languages updated

[2020-02-11 18:18] Evili84 opened #116 "[BUG] HBO Nordic subtitles fail to load with SSL error"
* [x] Are you running the latest version?

**Describe the bug**
I've enforced the subtitle settings from Kodi for English and Finnish subtitles. Subtitles remain grayed out after video starts playing.

**To Reproduce**
Steps to reproduce the behaviour:
Start playing a video
Look for subtitles, nothing there

**Expected behaviour**
Kodi should start automatically using the subtitle that is set for

[2020-02-12 08:59] arvvoid commented on #116
Hello, that's most likely a system problem, not an add-on problem. Nothing can be done at the add-on level to fix this. Users in the past reported similar problems with raspbian-buster. Personally don't use it on any of my devices so I can't test directly.

Please try in your system shell `curl https://static.hbonordic.com/1f10ced-0103e8eb7d3/48b883e84ba44d49bbaa53eabd7516cd.xml` and post the outp

[2020-02-12 09:18] Evili84 commented on #116
Ok, thanks for the info.

I suspected something like that. Might just be something wrong with raspbian root CA. In case I find something usefull I'll update it here.

[2020-02-12 16:43] Evili84 commented on #116
This error seems to be related to OpenSSL, version which I have installed is 1.1.1d, and apparently it does have some problems.

If anyone has this problem the solution that worked for me can be found from here https://stackoverflow.com/a/58531438

[2020-02-12 16:43] #116 closed, assigned to nobody

[2020-02-18 17:24] boblo1 commented on #3
Pending message string translated.
[strings_ES.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4220675/strings_ES.po.txt)

[2020-02-18 22:18] dolohow opened #118 "[SUPPORT] No module named dateutil"
**Describe the bug**
When starting playback of series episode plugin crashes.

**Steps to reproduce**
Try to watch a series episode

**Expected behaviour**
Episode is being played.

## Debug log

[code]

**Operating System**
LibreELEC on Linux (ARM)

[2020-02-18 22:30] arvvoid commented on #118
Hello, dateutil (https://kodi.wiki/view/Add-on:Dateutil) is in the official Kodi repository it got installed automatically on add-on update but might not be loaded. Try to restart Kodi and then it should be fine.

[2020-02-19 07:17] arvvoid commented on #118
@dolohow When you can please confirm if a simple restart solved your issue.

[2020-02-19 19:48] dolohow commented on #118
Yes, it works after restart.  Thanks.

[2020-02-19 19:48] #118 closed, assigned to arvvoid

[2020-02-20 14:32] arvvoid commented on #3
Ping to translator @Ike201 @Ajnasz @kowalmisiek @tmihai20 @macardi @jumakki @jhdgghost

Most language files need just a minor update, some need a major update.

[2020-02-20 16:46] jumakki commented on #3
Finnish updated:
[strings.fi.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4231923/strings.fi.po.txt)

[2020-02-20 20:16] tmihai20 commented on #3
Made PR #123. I also correct a small typo in the newly added English string. It should be corrected in all strings if possible.

[2020-02-20 22:29] arvvoid commented on #3
I will wait till the beginning of the next week for other translators to have time to submit the translations and then gonna send what's done so far to the Kodi repo. If you don't make it for this submission no worries will be for the next.

A pre-release with updated translations is already available under releases.

[2020-03-06 19:23] Klown1985 opened #125 "[BUG] Searching problem"
* [2.3.9] Are you running the latest version?
Version 2.3.9

**Describe the bug**
You get error message if you click to the search menu item. The searching does not work.

**To Reproduce**
Steps to reproduce the behaviour:
Go to 'search' menu item the you will get an error message. The searching does not work. The playing works well from the recommendations.

[removed]

## Debug log

**Operating S

[2020-03-07 13:22] NH3CL commented on #125
+1

[2020-03-07 20:14] arvvoid commented on #125
Hello tnx for reporting the issue.
Please don't paste logs directly in messages, attach them as files (like you did) or use a Pastebin like site as per instructions, the later is preferred.
Also, please provide a full debug log (the log you provided has no debug mode enabled in Kodi). Please follow instructions here https://kodi.wiki/view/Log_file/Easy to get proper logs witch includes all details

[2020-03-07 21:02] artemplaksiy opened #126 "No "Kids" category"
* [x] Are you running the latest version?

**Describe the bug**
Since today (7.03.2020) the "Kids" category has disappeared from home page. KIDS item is checked in Add-on settings -> Home Category settings.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the plugin
2. Kids are missing :)

**Expected behaviour**
The Kids category is displayed in the home page

## Debug log
[kodi.log](htt

[2020-03-08 12:07] Klown1985 commented on #125
Hello!

Ok, I've enabled the debug mode. I upload the needed logs. I hope it will be suitable for you!

Thanks in advance!

Regards,
Klown

[removed]

[2020-03-09 07:11] arvvoid commented on #126
Hello, they removed the legacy Kids category from the API. The new one hasn't been figured out yet, so there is no quick solution for this. I haven't analyzed this properly yet so not sure how much work it will be right now.  Atm I have very little free time so this will take some time to be added probably.
Ofc like always if someone has time to work on this right away pull requests are welcome.

[2020-03-09 22:45] arvvoid commented on #125
@Klown1985 Hello, unfortunately, the posted logs are not useful again. In the new logs debugging is enabled but you didn't perform the reported search action with the add-on during the logging.
There are still some banned repositories/add-ons present on your system.
I will always file and take into consideration a valid, full and confirmed bug report when planning fixes for the next release.
But I

[2020-03-10 08:47] Klown1985 commented on #125
Hello,

I set up the debug mode, then restarted the box, then immediately started the HGO EU addon, then pressed the search menu item and I've just got the error message on the screen. I think the problem can be found in the log:

_2020-03-08 13:02:42.075 T:3973231488   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--

[2020-03-10 09:14] arvvoid commented on #125
Hello, I saw you updated the log and that one is complete, the bug will be fixed in the next releases. A clean device from banned add-ons and clean log are strongly recommended.
You are free to use your system as you wish you are responsible for it.
But personally not going to give support to a system containing potentially illegal content since that might make me liable, or potentially erroneousl

[2020-03-10 11:01] #125 closed, assigned to arvvoid

[2020-03-10 13:45] Klown1985 commented on #125
The searching is also works fine! (2.3.10) Thank you very much! :)

[2020-03-10 19:45] artemplaksiy commented on #126
I thought so, thanks for confirmation. I'm already downloading Pycharm :muscle:

[2020-03-11 06:58] arvvoid commented on #126
related to #12

[2020-03-14 18:51] artemplaksiy opened #127 "No Kids results in search"
* [x] Are you running the latest version?
v2.3.10

**Describe the bug**
Search doesn't return all items available on HBO

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Search'
2. Enter 'paw'
3. Press OK
4. Only one item is displayed in search result: PANIC ATTACK (writer: **Paw**eł Maślona)

**Expected behaviour**
Currently there are two matches available in HBO library:
- **Paw** p

[2020-03-14 19:05] artemplaksiy commented on #127
After a quick investigation: current URL for searching is:
2020-03-14 16:18:10.367 T:1552429936   DEBUG: [plugin.video.hbogoeu] GET FROM HBO URL: https://czapi.hbogo.eu/v8/Search/Json/ENG/COMP/paw/0

, but in web browser I see this URL:
https://czapi.hbogo.eu/v8/Search/json/CES/COMP/paw/-/-/-/-/-/3

See how searching working in this logs:
[browser_search.har.zip](https://github.com/arvvoid/plugin.

[2020-03-14 19:37] artemplaksiy commented on #127
After a little bit longer investigation :smile: I assumed that the current search doesn't find any **series** and only in Kids category. For example, I can find "Bad Banks" but cannot find Paw patrol, Blaze and the Monster Machines or Slugterra.
My change above at first glance fix this problem, but I'm still not sure about the pull request.

[2020-03-15 09:44] arvvoid commented on #127
Hello, your findings are correct. Made the necessary change to the search URL. After some testing will be included in the next release is already in master.

[2020-03-15 09:48] arvvoid commented on #127
@all-contributors please add @artemplaksiy for bug, ideas

[2020-03-15 10:41] arvvoid commented on #127
Test release: https://github.com/arvvoid/plugin.video.hbogoeu/releases/tag/2.3.11

Testing on Matrix is not necessary atm since lot of dependencies are still missing. Test only on Leia.

[2020-03-15 23:22] arvvoid commented on #126
@artemplaksiy Good news after a lot of frustration and after almost giving up found a way... please test the current master if no problems are found in new and existing functionality I will make a release soon: https://github.com/arvvoid/plugin.video.hbogoeu/archive/master.zip

[2020-03-15 23:57] dagwieers opened #129 "[BUG] Wrong language codes?"
**Describe the bug**
While looking over the translations of your add-on, I noticed that some of the language codes used in *resources/language/* are incorrect.

- Czech &rarr; **cs_cz**
- Swedish &rarr; **sv_se**

[2020-03-15 23:59] dagwieers commented on #129
We are starting an initiative to unite Kodi translators so more add-ons can get widely translated.
You can add your add-on to the wiki at: https://github.com/kodi-addons/translators/wiki/Addons

[2020-03-16 06:59] arvvoid commented on #129
@dagwieers Thank you, missed that, and nobody complained about not working translation. Will correct those and recheck the rest tonight.

[2020-03-16 08:17] artemplaksiy commented on #127
Great! I'll be happy to test it! :+1:

[2020-03-16 08:19] arvvoid commented on #127
@artemplaksiy see also #126 you can test directly the current master there have been a breakthrough last night regarding the Kids category :)

[2020-03-16 08:21] artemplaksiy commented on #126
Well done! Thank you very much! My son is going to perform a stress test here :laughing:

[2020-03-16 09:31] durip commented on #126
Hi @arvvoid, great work. I made test with current master and Kids category is working. Searching is also working well. Thanks. Operator: skylink Slovakia

[2020-03-16 10:26] artemplaksiy commented on #127
Search is working properly now. Attaching the log: [test_kodi.log.zip](https://github.com/arvvoid/plugin.video.hbogoeu/files/4337510/test_kodi.log.zip)

There are few findings:
- HBO API doesn't support searching only by one character, but plug-in is trying to do it and got then an Inernal Server Terror :laughing: See: 2020-03-16 09:45:38.148 in the log. Funny note: HBO informs in the web browser,

[2020-03-16 10:26] #127 closed, assigned to arvvoid

[2020-03-16 10:32] arvvoid commented on #127
Tnx for reporting will look into those issues and try to polish the rough edges :) What search string returned such a large result? I should probably limit the search to 50 results more is not going to be useful anyway...

[2020-03-16 10:34] artemplaksiy commented on #126
@arvvoid, Kids category works without issues. Thanks again for great support and quick fix! Ready for release for me :+1:

[2020-03-16 10:34] #126 closed, assigned to artemplaksiy, arvvoid

[2020-03-16 10:43] artemplaksiy commented on #127
This one: https://czapi.hbogo.eu/v8/Search/Json/ENG/COMP/pa/-/-/-/-/-/3
I know, there are only two chars which shouldn't be used, but yesterday it was stuck with four also ("thro" for example). It's worth to point that after several attempts plug-in successfully displaying the results.. maybe a cache helping.

[2020-03-16 10:50] arvvoid commented on #127
Yes, it's the cache helping the add-on cache all requests with 24h validity so no request is repeated more than once every 24h to HBO go. But such large result will generate a lot of additional requests to hbo go with the current code, to get additional content info like plot ecc... so i suggest not testing that again until fixed to avoid spikes in requests and potential trouble.
I will limit the

[2020-03-16 11:16] arvvoid commented on #127
Is fixed now is already in master will make a release later today.
Now it won't send searches below 3 chars, it limit to 20 results at API level and i also implemented a hard 20 result limit client side.

[2020-03-16 18:39] kokoodev opened #130 "[REQUEST] save subs"
Is there any chance to save subtitles ?

[2020-03-17 07:19] #129 closed, assigned to nobody

[2020-03-17 07:51] arvvoid commented on #130
Hello, no, have no plans of adding such a feature is out of the scope of the add-on.  What would be a use case of such a feature?

[2020-03-17 08:19] arvvoid commented on #12
Kids category is solved in:  3389ac2 now both EU and Spain/Nordic version has a full Kids category.
The add-on now has a Kid only mode.
And now the server-side parental control has to be implemented for all regions.

[2020-03-17 14:12] arvvoid commented on #3
@Ajnasz @Ike201 @tmihai20 @boblo1 @jumakki Language files need minor updates.

@kowalmisiek Polonia translation needs a major update 12 untranslated 15 to check marked as fuzzy

@macardi Swedish translation needs a major update 23 untranslated 3 to check marked as fuzzy

Please if there are any strings marked as fuzzy in your files check the translation, correct if needed and unmark fuzzy.

[2020-03-17 19:50] jumakki commented on #3
Finnish translations:
[strings.fi.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4345527/strings.fi.txt)

[2020-03-18 07:33] arvvoid commented on #129
@all-contributors please add @dagwieers for bug, ideas

[2020-03-18 15:07] arvvoid commented on #3
Removing languages because unmaintained:

- Bosnia and Herzegovina
- Bulgaria, Macedonia
- Portugal
- Serbia
- Slovakia
- Slovenija
- Norway
- Denmark

Candies for future removal:

- Polonia
- Sweden

If an updated and corrected translation gets submitted those languages will be reincluded in master and future releases.
The removed files can be retrieved from old commits simply by clicking the lin

[2020-03-19 17:43] tmihai20 commented on #3
Made PR #133 for Romanian translation.

[2020-03-19 19:25] orangutanoide opened #135 "Memory Error importing import defusedxml.ElementTree"
* [X ] Are you running the latest version?
Yes, 2.4.1

**Describe the bug**
Addon does not start.

[paste kodi log file](https://paste.kodi.tv/nidujuheja.kodi)

There is a "Memory Error" importing defusedxml.ElementTree at hbogolib/handlersp.py

**Operating System**

* [ ] Linux (x86/x64)
* [ ] OSX (x86/x64)
* [ ] Windows (x86/x64)
* [X] Linux (ARM)
* [ ] Android

**Additional informatin on the en

[2020-03-19 19:32] arvvoid commented on #135
Hello, sorry but nothing I can do about that if the device don't have enough memory to load a dependency.

[2020-03-19 19:37] arvvoid commented on #135
Also, Kodi is at 18.6 now so maybe try the latest release, the problem doesn't happen on any of my rpi devices, I regularly use, have plenty of memory left, so something is taking up your memory but that is out the scope of the add-on.

[2020-03-19 19:57] #130 closed, assigned to nobody

[2020-03-19 20:40] arvvoid commented on #135
You can try this branch with dropped defusedxml to compare performance and report back: https://github.com/arvvoid/plugin.video.hbogoeu/archive/no_defused_xml.zip

Since this is a client the security impact won't be much if plain versions are used but have to evaluate if merge this in main or not.

[2020-03-22 12:06] durip commented on #3
Hi @arvvoid ,
I did a Slovak translation.
[strings_SK.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4365169/strings_SK.po.txt)

[2020-03-22 14:46] boblo1 commented on #3
@arvvoid : I cannot find the untranslated message string in the PO file included in the chart (spanish language). Could you help me?

[2020-03-22 18:47] arvvoid commented on #3
@durip tnx will check and include soon

hello, @boblo1 its this string, it's already machine-translated but marked at fuzzy so you have just to check and if it's on just remove the #fuzzy (if you use something like PO edit or other PO editor there will be a checkbox if you edit manually you can just remove the #fuzzy preceding the translation)
[code]

[2020-03-22 19:52] boblo1 commented on #3
I understand. Here you go:
[strings_ES.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4366232/strings_ES.po.txt)

[2020-03-23 07:46] arvvoid commented on #3
Tnx @boblo1

[2020-03-25 08:24] #135 closed, assigned to nobody

[2020-03-25 09:40] arvvoid commented on #3
@all-contributors please add @durip for translation

[2020-03-27 14:29] cdps82 commented on #5
Hi, could you please also check the login for Czech Republic/sledovanitv.cz s.r.o.? When I login, everything works just great, but only as long as I do the first restart of Kodi. Then I get a wrong credentials error message. What helps is to Log-out (settings reset) and then loging in over again.

Thank you all for your great job!

PS: I can send you the credentials for testing purposes upon your

[2020-03-27 16:06] arvvoid commented on #5
Hello @cdps82 tnx.
What you describe is unrelated to this issue, that sounds more like a problem with your device/Kodi installation.
This issue is closed, not a proper place to bring new unrelated issues. Please open a proper issue following all the rules, with a proper full debug log otherwise I can't help you.

[2020-04-06 18:48] cdps82 opened #139 "Credentials lost after a period of time"
Hi, I have already contacted you somewhere else regarding the same problem. You have answered that the problem must be in my OS. Unfortunately I have tried to test it on 3 different devices (rpi2, rpi3, rpi3B+), and 2 different OS (OSMC, LibreELEC)  each. Your addon is always installed from the official repo in OS'. What I get is still the same issue. After the installation and loging in, I can wa

[2020-04-06 19:42] arvvoid commented on #139
Hello, and i reapet this most likely have nothing to do with the addon.
You did’t follow the template for reporting and instructions, eveything is important nobody can guess whas going on on your decice/devices provide all requested info and a full debug log recreating the issue, perform a full setup then restar your device and provide an aditional log of what happen after the restart.

EDIT ADITI

[2020-04-07 13:20] Buraddo23 opened #140 "[BUG] Telekom Romania fail setup (affects some other operators as well)"
* [x] Are you running the latest version?

**Describe the bug**
Login attempt returns Error 403 even with correct credentials, possibly a different endpoint than other operators.

**To Reproduce**
Run setup, fails to connect.

**Expected behaviour**
Login succesful.

## Debug log

[https://paste.kodi.tv/opujeyevex.kodi](https://paste.kodi.tv/opujeyevex.kodi)

**Operating System**

* [x] Linux (ARM

[2020-04-07 14:47] arvvoid commented on #140
@Buraddo23 tnx for reporting, this reveled a change on a larger scale there are more operators like this added recently. Published here https://github.com/arvvoid/plugin.video.hbogoeu/wiki/Regional-support a complete operators list the ones marked as DIRECT AFFILIATE are the ones affected by this issue.

Please test the fix here https://github.com/arvvoid/plugin.video.hbogoeu/archive/fix_affiliate

[2020-04-07 15:08] arvvoid commented on #140
Affected operators and addressed in the fix:

Bulgaria
* DIRECT AFFILIATE: Telekabel
* DIRECT AFFILIATE: NET1

Czech Republic
* DIRECT AFFILIATE: Vodafone Česká republika
* DIRECT AFFILIATE: Skylink CZ from 1.4.2020
* DIRECT AFFILIATE: UPC TV (from 1.4.2020)

Montenegro
* DIRECT AFFILIATE: MTEL

Romania
* DIRECT AFFILIATE: Telekom Romania

Serbia
* DIRECT AFFILIATE: Test RS 1
* DIRECT AFFILIATE: S

[2020-04-07 15:08] Buraddo23 commented on #140
Tested and works as intended

[2020-04-07 15:16] arvvoid commented on #101
The operator does not exist anymore renamed to Vodafone – servicii fixe si TV – SSO,  probably will migrate to a simpler login mechanism since a non-redirecting login Vodafone operator also exists for Romania, so not worth fixing for the moment.

[2020-04-07 15:16] #101 closed, assigned to arvvoid

[2020-04-08 06:32] arvvoid commented on #140
https://github.com/arvvoid/plugin.video.hbogoeu/pull/141

[2020-04-08 07:20] competer982 commented on #140
Hi,
I also see this problem with Hungarian UPC Direct, however it says it is AFFILIATE: UPC Direct
Will this fix work for that as well?
Thanks and BR

[2020-04-08 07:29] arvvoid commented on #140
@competer982 Hello, that can't be related to this issue just checked and UPC direct do normal affiliate gateway login, which is stable and not changed for a long time, so please open a separate issue with description and full debug log in your case is not an add-on issue most likely. But only a full debug log can tell more.

[2020-04-08 07:56] competer982 commented on #140
Hi,
Thanks it was not related, simply UPC was merged into Vodafone, so now we need to use Vodafone as a provider. (I mistakenly choose UPC Direct, but that is some separate).

[2020-04-08 08:10] arvvoid commented on #140
@all-contributors please add @Buraddo23 for bug

[2020-04-08 08:11] arvvoid commented on #140
The fix is merged in master now, a release will follow soon, will leave this open until it is in the Kodi add-on repository so someone experiencing the same issue can find info easy.

[2020-04-09 05:45] arvvoid commented on #140
The version containing the fix is in the kodi add-on repository now for both leia and matrix. Closing.

[2020-04-09 05:45] #140 closed, assigned to arvvoid

[2020-04-09 22:14] cdps82 commented on #139
Sorry for bothering, I have solved this issue by installing addon from Otava5 Fork which works just flawlessly. You can close this issue.

BTW: It's definitely not related to RPI, OSMC or LibreELEC, but that specific type of login via sledovanitv.cz. I have tried to use my friend's UPC credentials which seemed fine for 48 hours. Has anyone already complained?

[2020-04-09 22:14] #139 closed, assigned to nobody

[2020-04-10 08:46] arvvoid commented on #139
Hello @cdps82, you are not bothering but reporting an issue witch is more then welcome and you are encouraged to do so if finding any, and I would be happy to help and fix if I can, but to do that I need the reporter to provide all the required information and most importantly debug logs (and any additional info and/or logs it might be needed to get to the bottom of the issue).
From the descriptio

[2020-04-13 18:34] petakpa1 opened #146 "Error with special characters in Win10 user name"
I run the latest version of the addon on Kodi x86 v18.4 on a W10 x64 system

The addon start, but when I want to play a movie I receive error message and the movie does not start.

Here is my Kodi log: https://paste.kodi.tv/olerululer.kodi

[2020-04-13 19:11] arvvoid commented on #146
`Log level changed to "LOG_LEVEL_NORMAL"`

Hello, @petakpa1 you didn’t enable debug logging in Kodi, the step is mentioned and describe in instructions. Please enable debug logging and post a new log.

[2020-04-13 19:39] petakpa1 commented on #146
Hi Arvvoid,
Here is my full log: https://paste.kodi.tv/kegedajilo.kodi

Please note that I have a similar special characters related issue with Netflix addon prepared by CastagnaIT, but he finally succesfully solved it.

Unfortunately I am not sure whether HBOGOEU addon worked or not before I installed Netflix addon... If you need I can send you the beta version of Netflix currently used by me.

[2020-04-13 20:32] arvvoid commented on #146
@petakpa1 no need this is enough to confirm the issue and see what is affected. Well special chars there where not taken into account and i didn’t test for that.
Even if some os allow that is not really common and best practice.
A fix is possible and not complicated but will take some time, require a fix in multiple places and testing then on both Kodi 18 and 19 (on kodi 19 things might work as th

[2020-04-13 20:52] petakpa1 commented on #146
Ok. Thank you very much for trying to solve it. If you send me beta version I can test it on my Win10 system.

From: Arv.Void
Sent: Monday, April 13, 2020 10:32 PM
To: arvvoid/plugin.video.hbogoeu
Cc: petakpa1 ; Mention
Subject: Re: [arvvoid/plugin.video.hbogoeu] Error with special characters in Win10 user name (#146)

@petakpa1 no need this is enough to confirm the issue and see what is affected.

[2020-04-14 10:06] gbelovai opened #148 "[BUG] Failed playbayck error"
Hi! I wrote on the kodi forum about the playback issue. On the 2.5.5 I'm getting "Failed playback" error messages on every video. (it is a new problem since the 2.5.5 update, on my other device the 2.3.9 version works fine)

full debug: https://paste.kodi.tv/ipowocayod.kodi
inputstream screenshot:
![inputstream](https://user-images.githubusercontent.com/63640826/79212654-3333cf80-7e48-11ea-9880-f4

[2020-04-14 11:12] arvvoid commented on #148
Hello @gbelovai it looks like you are affected by this bug as well #146, please help test the fix in pull request #147 and let me know if that fixes the issue

[2020-04-14 17:40] arvvoid commented on #148
Fixed in #147

[2020-04-14 17:40] #148 closed, assigned to arvvoid

[2020-04-14 17:41] arvvoid commented on #146
Fixed in #147

[2020-04-14 20:27] arvvoid commented on #148
@all-contributors please add @gbelovai for bug

[2020-04-14 20:30] arvvoid commented on #146
@all-contributors please add @petakpa1 for bug

[2020-04-16 11:39] arvvoid commented on #3
@Ajnasz @Ike201 @tmihai20 @boblo1 @jumakki Language files need minor updates.

@kowalmisiek Polonia translation needs a major update 17 untranslated 15 to check marked as fuzzy

@macardi Swedish translation needs a major update 31 untranslated 3 to check marked as fuzzy

All files are already synced with new POT

[2020-04-16 11:57] arvvoid commented on #146
The issue is fixed and merged in master, will close this issue when I make a new release.

[2020-04-16 13:38] Ike201 commented on #3
czech language:

[strings.po.2020-04-15.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4487427/strings.po.2020-04-15.txt)

[2020-04-16 14:22] boblo1 commented on #3
Spanish translation updated:
[strings_ES.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4487706/strings_ES.po.txt)

[2020-04-16 14:37] jumakki commented on #3
Finnish: [strings.fi.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4487802/strings.fi.po.txt)

[2020-04-16 17:01] Ike201 commented on #3
sorry... better version:

[strings.po.2020-04-15.v2.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4488665/strings.po.2020-04-15.v2.txt)

[2020-04-16 17:39] tmihai20 commented on #3
As always, added a PR (#152) for Romanian strings.

[2020-04-17 07:21] arvvoid commented on #3
Thanks for the submissions, all sent so far merged :)

[2020-04-17 20:42] arvvoid commented on #146
Fix released in https://github.com/arvvoid/plugin.video.hbogoeu/releases/tag/2.5.8 published in Kodi add-on repository

[2020-04-17 20:42] #146 closed, assigned to arvvoid

[2020-04-20 17:56] durip commented on #3
Slovak translation updated:
[strings.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/4505236/strings.po.txt)

[2020-04-20 21:22] arvvoid commented on #3
@durip tnx, merged

[2020-04-23 21:57] Txato commented on #3
Hello, I know it is not the way to ask these questions, but could you tell me how to listen to the content of the addon in Spanish? Because when I install the addon I select Spain and the sound comes out in English. Just let me put subtitles in Spanish.
Thanks and best regards.

[2020-04-24 12:00] arvvoid commented on #3
@Txato Hello, please use the forum for general questions or open a new support issue with your question. These will be deleted from here in 24h.
Not all content will have audio tracks in Spanish that entirely depend on Hbo and the content creator, those that do, you can select the audio track from the audio settings during playback. Similar to subtitles you can set in Kodi preferred audio track la

[2020-04-24 20:37] rocknrollnor opened #157 "[BUG] Spain/Nordic region: sometimes Non-English subtitles dosen't show right on specific languages."
![screenshot-kodi](https://user-images.githubusercontent.com/64284359/80254479-8a714580-867b-11ea-8530-4c74aeb02e4f.png)

The English subtitle works fine, can't find anything about it in the debug log.

Using Libre-Elec - x86

Thanks.

[2020-04-25 10:37] arvvoid commented on #157
Hello @rocknrollnor , without a full debug log in don t have enough info to answer this. Subtitles have been extensively tested and worked on all tested content. Also, the way subtitles are processed depends on the region.
Did you also make a comparison with the official client for the same show/episode time frame?

What follows is not only directed at you but anyone reporting an issue because I'm

[2020-04-26 08:58] rocknrollnor commented on #157
Hi!
Note taken about the log.

Tested again today. Some series/movies works, others don't. All good in the official client.
The srt-files to this episodes/movies has wrong/missing timestamps contra the ttml-files.

[kodi.log](https://github.com/arvvoid/plugin.video.hbogoeu/files/4535390/kodi.log)

[2020-04-27 06:55] arvvoid commented on #157
Hello,
ok, so the problem is some ttml files for the Spain/Nordic region don't get converted correctly by the ttml2srt converter.
I will investigate, have to find out what the problem is with those files. Can you please provide what s the exact show, episode, and time frame where it happens.

[2020-04-27 09:27] rocknrollnor commented on #157
For example "Phil Spector" movie, at 02:07 or "1992" S01E01 at 01:26.

[2020-04-27 10:05] arvvoid commented on #157
Progress regarding this issue can be followed on pull request #158 , please test the test version published there and report back with debug logs.

[2020-04-27 10:42] rocknrollnor commented on #157
[kodi.log](https://github.com/arvvoid/plugin.video.hbogoeu/files/4539095/kodi.log)

[2020-04-27 11:20] arvvoid commented on #157
@rocknrollnor does the problem persist with the test version in the pull request?

EDIT: nevermind I see in the log that it fails. I Will let you know when a new test version is ready. Unfortunately, I don't have access to the region in question so I can't test directly can only rely on sent logs to debug the changes.

[2020-04-27 13:07] rocknrollnor commented on #157
No problem, I can do that. Thank you for your time.

[2020-04-29 08:15] arvvoid commented on #157
Fixed in #158

[2020-04-29 08:16] arvvoid commented on #157
@all-contributors please add @rocknrollnor for bug

[2020-04-30 08:52] arvvoid commented on #157
Fixed and release in https://github.com/arvvoid/plugin.video.hbogoeu/releases/tag/2.6.0

[2020-04-30 08:52] #157 closed, assigned to nobody

[2020-08-11 16:10] valerian-constantin opened #164 "[BUG] Cannot play any videos other than Kids TV Shows"
Hey there

Romanian here, from Orange TV Operator. I recently installed HGo EU and I have this annoying problem :c
I tried it on my laptop with Kodi, but also with Kodi on Android TV, happens on both.
I can play Kids TV Shows, but not movies. I also cannot play any other TV Shows or movies or documentaries. It just loads and eventually gives an error. It does not have anything to do with my accoun

[2020-08-11 16:21] #164 closed, assigned to nobody

[2020-08-11 16:21] valerian-constantin commented on #164
Closed because I resolved it with reinstalling widevine.

[2020-08-13 05:25] valerian-constantin opened #165 "[BUG] Can only play a few series with inject subtitles enabled (specific region only RO)"
Romanian here, from Orange TV Operator. I recently installed HGo EU and I have this annoying problem :c
I tried it on my laptop with Kodi, but also with Kodi on Android TV, happens on both.
I can play Kids TV Shows, but not movies. I also cannot play any other TV Shows or movies or documentaries. It just loads and eventually gives an error. It does not have anything to do with my account, as I can

[2020-08-13 07:23] arvvoid commented on #165
Hello, the playback still works fine for all content in all my tests on all platforms I'm able to test on (LibreElec, Linux, Windows, MacOS).
From your previous log there is nothing wrong add-on side. For the new log you don't have debugging turned on so nothing useful there.
If it worked after widevine re-instalation then there is most likely nothing wrong with the add-on the problem is elsewhere

[2020-08-13 07:52] valerian-constantin commented on #165
Hey again! :)

Sorry for that repo, I did a clean install and the problem persists. I also tried Kodi in my phone and reinstalled it on Android TV, no luck. On the web it's all fine, no problems, but on Kodi it keeps loading indefinitely. I activated debug logging and I just opened Kodi and tried to play Hercules, not working again. I uninstalled widevine and tried again multiple times, still not

[2020-08-13 08:33] arvvoid commented on #165
It's strange can't find anything meaningful in the log. Also in my tests all work fine with any content. All seams to work fine, but for the content that don't play the script hangs for no apparent reason in the moment things get passed to Kodi and inputstream.adaptive and then it gets killed off because of time-out.

There is some kind of inputstream.adaptive error but't don't think is relevant,

[2020-08-13 08:47] valerian-constantin commented on #165
oh my god!!!
I just disabled subtitles injection and it all seems to work well now. I'm trying to not get too excited, but I hope it will work now!! Just tested it on my Android TV and that seemed to be the problem, something with the subtitles I guess.
Thank you very much and sorry if I caused any trouble :)

[2020-08-13 11:56] arvvoid commented on #165
ok, glad it worked, let me know if that fixed the issue, if yes will have to investigate what's going on with external subtitles in your region and see what's causing the problem.
Can't replicate the problem in my region the external subtitle processor still works fine here.

if inject subtitles is disabled the subtitles embedded in the stream will be used, but those are known to glitch sometimes

[2020-08-13 13:40] valerian-constantin commented on #165
Hey, that actually solved the problem, I'll let you know if there will be any subtitle glitching or anything. If you need any logs or any stuff, I'm here :)

UPDATE: With subtitle injecting disabled it works well, but subtitles sometimes dissappear for a minute or so, but they come back eventually.

[2020-09-01 14:59] bluboyo opened #166 "[BUG] Name HGO"
* [ ] Are you running the latest version?
Yes. And kodi 18.8
**Describe the bug**
A clear and concise description of what the bug is.
The name in kodi is HGO not HBO
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

## Debug log - https:/

[2020-09-03 14:57] dquesado opened #167 "Does not play anything [unsupported old widevine version problem]"
Hi
I’m from Portugal, using HBO go Portugal. I’ve just installed the add-on on my android TV box and everything is fine until I select something to watch. Then it tries to start the episode for a bit but does not go through with it.

I’ve seen another issue report where this happened in certain series and it was said to deselect “inject subtitles” but on my case it happens every time and deselecti

[2020-09-03 17:16] arvvoid commented on #166
Hello, this is not a bug and not an error. The name is intentional. HBO is a registered trademark.

[2020-09-03 17:16] #166 closed, assigned to nobody

[2020-09-03 17:24] arvvoid commented on #167
Hello, the problem might be something else entirely, inject subtitles don't cause any problem for most regions.

Unfortunately, the log you posted doesn't have debug enabled, please enable debug and post a new log.
If you just installed try also to restart the device and try to play something. Also, check the widevine version available on your device, does the official client work on your android

[2020-09-07 18:36] dquesado commented on #167
Hi
Sorry about the log thing. I am not very familiar with these things.

Here is the new log, which I think has what you need:
[kodi(1).log](https://github.com/arvvoid/plugin.video.hbogoeu/files/5184523/kodi.1.log)

I have both re-installed kodi, re-installed the add-on and restarted the device. It is still not working.

Widevine info:
![Screenshot_20200907-181911](https://user-images.githubuserco

[2020-09-08 07:13] arvvoid commented on #167
From the log there is no error on the add-on side the error happens when widevine has to negotiate the key.

[code]

It looks like unfortunately the device used has a too old Widevine version included, Hbo Go EU requires a newer one. Unless there is a firmware update that includes a new widevine version there is no chance to get that working on that device.
If there is no firmware update (android

[2020-09-08 09:40] dquesado commented on #167
Thanks. I'll try that

[2020-09-17 13:00] #167 closed, assigned to nobody

[2020-10-02 17:45] sorin-pop opened #168 "[SUPPORT] Videos don't start"
* [x] Are you running the latest version?
Yes

**Befor sending the support request this resources can be checked:**

[Kodi Forum thread](https://forum.kodi.tv/showthread.php?tid=339798) |
[Project wiki](https://github.com/arvvoid/plugin.video.hbogoeu/wiki) |
[FAQ](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/FAQ) |
[Troubleshoot](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/Trouble

[2020-10-03 07:54] sorin-pop commented on #168
Resosolved by uninstalling and then reinstlling Widevine CDM.

[2020-10-03 07:54] #168 closed, assigned to nobody

[2020-12-13 11:35] NH3CL opened #173 "[SUPPORT] ERROR: [script.module.inputstreamhelper] [u'ldd', u'/home/osmc/.kodi/cdm/libwidevinecdm.so'] cmd failed."
* [x] Are you running the latest version?
Yes. 2.6.1

**Describe the bug**
I cannot play anything since the last OSMC update.

**To Reproduce**
Steps to reproduce the behaviour:
1. Search a movie
2. Click on play

**Expected behaviour**
Play the selected moviw

## Debug log - https://kodi.wiki/view/Log_file/Easy

https://pastebin.com/HNJ25Z8h

**Screenshots**
No Screenshots needed

**Operating Sys

[2020-12-13 11:44] NH3CL commented on #173
Ok, how can i dop this valid?

[2020-12-13 11:46] arvvoid commented on #173
Hello, this does not seem like an add-on problem. Looks like you are missing widevine from your installation, the error does not happen within the add-on.
Partial logs are not generally accepted for support, please post full logs in the future. Try reinstalling widevine on your device. If the problem persists you will have to report this on osmc and/or inputstream adaptive, nothing I can do on the

[2020-12-13 12:02] NH3CL commented on #173
Fixed based on this:
https://github.com/emilsvennesson/script.module.inputstreamhelper/issues/411

Restore Widevine to previous version.

[2020-12-13 12:02] #173 closed, assigned to nobody

[2020-12-13 13:34] arvvoid commented on #173
Tnx, going to pin this for a few days since is fresh and other might experience the same issue.

[2020-12-13 14:03] sorin-pop opened #174 "[SUPPORT] Videos not starting anymore after updating Widevine"
* [ ] Are you running the latest version?
Yes

Yesterday, when opening a film in the Netflix addon I got the Widevine update popup, and (foolish me) I chose to install it. After the installation was done my film started and played fine. However, since then , no other film starts up, neither in Netflix nor in this addon.  Does anybody else experience this? Can this be fixed please?

I'm on Kodi Lei

[2020-12-13 14:25] arvvoid commented on #174
Hello, without a log i cant be sure what the problem might be. Most likely connected to this: #173 take a look at the linked solution in that issue.

[2020-12-13 15:20] mickeelm commented on #173
I dunno if you want more comments or just emoji reactions, but I'm experiencing the same (with all my addons relying on InputStreamHelper)

*EDIT:* Solved by removing `.kodi/cdm` and manually updating InputStreamHelper to 0.5.2. No idea if I had to delete that folder or not but now it works.

[2020-12-13 19:24] NH3CL commented on #173
You just have to go into Addons -> Select InputStreamHelper, and in the Options menu you have to select "Restore Widevin" and choose an older version.

[2020-12-14 11:35] sorin-pop commented on #174
I was not able to get the logs, but yes, I am probably experiencing the issue you refer to. Ultimately it seems that it is a problem with the InputSTream Helper addon, which is responsible for updating Widevine, and apparently (due to a bug, a lack of attention), it downloaded and installed a wrong Widevine, which does not work. (apparently now they quickly realized the mistake and made some new r

[2020-12-14 11:35] #174 closed, assigned to nobody

[2020-12-14 11:54] sorin-pop commented on #174
EDIT: Solved by removing .kodi/cdm and manually updating InputStreamHelper to 0.5.2

[2020-12-14 13:59] arvvoid commented on #3
Hello, a new release will be made soon. I will wait for translation submissions until Friday 18/12/2020, publishing a new release on Saturday 19/12/2020.
Most maintained translations need only minimal effort 2 strings (non-critical, very rarely seen).

@Ike201 @Ajnasz @kowalmisiek @tmihai20 @durip @boblo1 @Sopor @jumakki

[2020-12-14 20:44] durip commented on #3
Slovak translation updated:
[strings.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/5691501/strings.po.txt)

[2020-12-22 15:59] Paco8 opened #180 "[BUG] handlersp.py is increasing the timestamps of subtitles by 25 ms"
* [x] Are you running the latest version?

**Describe the bug**
Line 457 in handlersp.py:

`ttml = Ttml2Srt(py2_encode(folder + sub.get('lang') + ".xml"), 25)`

I guess the 25 value is meant to be the fps, but the second argument in Ttml2Srt is the shift value, so you're actually increasing all timestamps by 25 milliseconds. Although it's unnoticeable I guess it's better to fix it:

`ttml = Ttml2S

[2020-12-23 07:42] arvvoid commented on #180
Tnx for pointing it out will fix it. The last time I updated ttml2str the parameters changed but forgot to update the reference in the handler.

[2020-12-23 07:50] #180 closed, assigned to nobody

[2020-12-23 07:51] arvvoid commented on #180
@Paco8 if you can please test the current master to confirm it works correctly now before the next release.

[2020-12-23 09:36] Paco8 commented on #180
Yes, it's fixed.

[2020-12-23 09:58] arvvoid commented on #180
@all-contributors please add @Paco8 for bug

[2021-01-05 17:46] nomad-fr commented on #8
I'd like to help about ocs.fr support.
For the moment I've no subscribtion.
In first I'd like to know if the 'smallest' subscription is enough : [https://www.ocs.fr/souscription/selection](https://www.ocs.fr/souscription/selection)

[2021-01-07 10:11] arvvoid commented on #8
@nomad-fr Hello, this does not look like anything similar to the HBO Go EU service. Probably that service is better suited in a separate dedicated add-on.
Since I'm not familiar with the service and have no access to it I can't provide any directions.

[2021-01-12 16:59] mapukie opened #184 "[BUG] traducir la pagina"
* [ ] Are you running the latest version?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

## Debug log - https://kodi.wiki/view/Log_file/Easy

[First of all than

[2021-01-13 08:35] #184 closed, assigned to nobody

[2021-01-17 08:31] Zoli1972 opened #185 "[REQUEST] Integration of MindigTV Go (hu)?"
* [ ] Are you running the latest version?

**Is your feature request related to a problem? Please describe.**
Service MindigTV Go (hu) is yet missing in this addon.

**Describe the solution you'd like**
I'd like to ligin / use MindigTV Go (hu) service registration (NOT MindigTV Extra (hu) ) with this addon.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2021-01-17 13:58] arvvoid commented on #185
Hello @Zoli1972 , this add-on supports all operators that are listed on the official hbogo.hu or official client. It pull operators directly from the api. If an operator is available on the hbo go service should be available in the add-on as well. I don't see MindigTV Go in that list. https://github.com/arvvoid/plugin.video.hbogoeu/wiki/Regional-support. There is no MindigTV Go offered as selectio

[2021-01-24 13:06] tomjimlondon opened #186 "[SUPPORT] Spain/Nordic two-factor autentication"
Hello team,

Good work with the add-on! It seems that recently HBO Spain request a double factor to add a new device. It should appear a code on the device's screen that must be added on their website in order to be authorised. Can you implement it to keep working?

Thanks in advance.

[2021-01-24 13:15] arvvoid commented on #186
Hello, this add-on works in similar way as navigating to the hbo website with a browser it just present the data from within Kodi. So if access to the website work as before no changes are necessary probably. Just insert the credentials the same way that you login on the website. Have you tried to login with the add-on?

If the  login stopped working in the add-on full debug logs are necessary. An

[2021-01-24 13:38] tomjimlondon commented on #186
Here you are:
https://paste.kodi.tv/oxegidizij

[2021-01-24 13:45] arvvoid commented on #186
@tomjimlondon that is not a debug log, please enable debug loggin in Kodi first. Link to instructions can be found in the readme. Then perform some actions in the add-on and then send the log.

`2021-01-24 13:34:15.978 T:16963  NOTICE: Log level changed to "LOG_LEVEL_NORMAL"`

[2021-01-24 23:22] #185 closed, assigned to nobody

[2021-01-27 19:41] sorin-pop opened #187 "[SUPPORT] Addon not working anymore [temp problem, provider service down]"
* [ x] Are you running the latest version?

**Befor sending the support request this resources can be checked:**

[Kodi Forum thread](https://forum.kodi.tv/showthread.php?tid=339798) |
[Project wiki](https://github.com/arvvoid/plugin.video.hbogoeu/wiki) |
[FAQ](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/FAQ) |
[Troubleshoot](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/Troublesho

[2021-01-27 20:14] aovari commented on #187
I think the service is down. I can't login using the browser on a desktop, so it's highly possible that the source of the problem is not the plugin.
Update: it's confirmed on the local official facebook page that they're facing some technical issues.

[2021-01-27 20:25] arvvoid commented on #187
Yes, the login on the hbo go website is not working as well, once that is restored all should work fine.

[2021-01-27 20:52] arvvoid commented on #187
It started working, all should be fine now :)

[2021-01-28 09:53] sorin-pop commented on #187
Yes, it now works. Thank you!

[2021-01-28 09:53] #187 closed, assigned to nobody

[2021-02-07 16:05] arvvoid commented on #186
Closing, since there are no new updates on the matter and is unclear if currently there are any problems with login for the sp/no region. By now there should be plenty of reports if the login is broken.

If the login is broken for sp/no a bug report can be submitted with a full debug log.

[2021-02-07 16:05] #186 closed, assigned to nobody

[2021-02-26 16:06] krokodylowy opened #190 "HGO no loger work with Kodi 19"
HI
Android TV unexpectedly upgraded Kodi to 19 and HGO goes away.
HGO or plugins used by 19 are not compatibile with Python 3.

[2021-02-26 21:49] arvvoid commented on #190
Hello,

The add-on is fully compatible with Kodi 19 and have been for a long time. If you just updated, the add-ons have to be updated to the matrix version from official repository, it shoud happen automatically. If not the update can be started manually.

If you still experiencing problems please post a full debug log.

[2021-03-01 16:24] Dan23R commented on #190
Hello,
Recently, I have on my Kodi 18.9 the following error message on hGO Eu : Communication error, returned Status: 403. I have HBO Go account and until now there were no problems using it  ! Any suggestion for solving the problem ?

[2021-03-02 08:11] arvvoid commented on #190
@Dan23R Hello, this is not relevant to this issue. Most likely there is a problem with your credentials, try first to login on the official hbo go website. Some operators changed the login method and some changed from username/password to email/password for login. When you can successfully login on the official website, reset the setup in the addon (config -> Logout (reset setup) and repeat the se

[2021-03-02 08:25] arvvoid commented on #190
There is no log and no new info regarding the originally reported issue so closing this. The add-on is fully Kodi 19 and Python3 compatible (Kodi 19 Matrix version of the add-on has to be installed on Kodi 19 for things to work ofc, available in the integrated Kodi add-on repository), there are no other reports of an issue on Kodi 19 so far, and no issues in tests.

**A new propper issue following

[2021-03-02 08:25] #190 closed, assigned to nobody

[2021-03-18 05:57] krokodylowy commented on #190
First HGO installation after new Kodi 19 instalation not worked due notcompatibile third party modules but now after several updates of Kodi modules everything works fine.

Closed

[2021-05-08 18:59] Frn747 opened #193 "[SUPPORT] Can't play videos"
* [X] Are you running the latest version?

**Befor sending the support request this resources can be checked:**

[Kodi Forum thread](https://forum.kodi.tv/showthread.php?tid=339798) |
[Project wiki](https://github.com/arvvoid/plugin.video.hbogoeu/wiki) |
[FAQ](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/FAQ) |
[Troubleshoot](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/Troubleshoo

[2021-05-08 23:24] g1sm commented on #193
Hi,

it seems the issue is related to Widevine CDM library version 13816.64.0. I restored the previous version (13597.105.0) and everything went back to normal.

To restore, go to the HBOEU add-on **_config_** - **_DRM_** - **_inputstream helper settings_** - _**restore widevine CDM library**_ and pick 13597.105.0.

[2021-05-09 08:38] Frn747 commented on #193
Hi.

Thanks for the reply. I've tried your instructions but I get an error "No backup files exist" (free translation!).
Mine was a new installation so there is no history versions to restore. Is there a way to install the previous version manually?

Thanks.

[2021-05-09 11:42] g1sm commented on #193
See [this](https://blog.vpetkov.net/2019/07/12/netflix-and-spotify-on-a-raspberry-pi-4-with-latest-default-chromium/comment-page-3/#comment-459049) comment from Guido on how to download and extract libwidevinecdm.so. The only difference is that you should use ```https://dl.google.com/dl/edgedl/chromeos/recovery/chromeos_13597.105.0_elm_recovery_stable-channel_mp-v2.bin.zip``` as source (replace th

[2021-05-09 14:20] Frn747 commented on #193
Hi G1sm.
Thanks for your support. I think I'll try the lazy solution first and wait a couple of days!

[2021-05-09 14:20] #193 closed, assigned to nobody

[2021-05-09 21:45] arvvoid commented on #193
Hello @Frn747, just tested with the latest version of widevine got with ISH and indeed that seems to be the problem, don't have time to look in detail right now. It seems there are some ongoing changes in the distribution of widevine for some platforms. Read more here, https://github.com/emilsvennesson/script.module.inputstreamhelper/issues/428

Like said above by @g1sm for now the easiest solutio

[2021-05-10 19:11] arvvoid commented on #193
There is a new release of ISH https://github.com/emilsvennesson/script.module.inputstreamhelper/releases/tag/v0.5.3 so the problem should be solved and no manual intervention should be needed.

[2021-06-01 11:08] CZJohny opened #194 "[BUG] Unable to load list of TV Series Friends in Czech language"
* [ ] Are you running the latest version?
YES Addon Hbo EU 2.7.1 (plugin.video.hbogoeu-2.7.1-matrix.zip)
Kodi Matrix 19.1

**Describe the bug**
Failed to load TV series Friends - get an error There is a newer version available, please update...
Other series or Movies works fine, also can play directly from HBO official app in TV

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to TV Serie

[2021-06-01 12:17] CZJohny commented on #3
Added missing 2 translations - Czech.

[strings.po.txt](https://github.com/arvvoid/plugin.video.hbogoeu/files/6576127/strings.po.txt)

[2021-06-01 12:24] arvvoid commented on #194
Hello tnx for reporting.

There have been some api changes recently on hbo go side so might be related to that or might have been just  a temporary error on their side.
I watched the other day and tried now and it seams to work fine for me.

Go to settings and clear the add-on cache to force a new retrieval of data from the service now since the cache TTL is 24h and try again, to exclude it was ju

[2021-06-01 13:55] CZJohny commented on #194
Thank you, clearing the request cache helped. :)

[2021-06-01 13:55] #194 closed, assigned to nobody

[2021-06-04 18:40] Ike201 commented on #3
S pozdravem / Best regards
Michal Valdman

út 1. 6. 2021 v 14:17 odesílatel CZJohny ***@***.***> napsal:

[2021-06-09 16:00] tylnesh opened #196 "Trying to play any video shows a popup telling user to update the extension."
While already being on the latest version (2.7.1)

[2021-06-09 19:18] beasiteri commented on #196
I receive the same error message. Cannot play anything since the 2.7.1 update. OS: LibreELEC 9.2.6 (KODI 18.9.0) - running on Raspberry Pi 4 Model B (Cortex-A72 (ARM v8), 4GB RAM).

[2021-06-09 19:46] arvvoid commented on #196
Hello, unfortunately you didn't provide any logs so can't really tell what's going on. Everything works fine for me. Please follow the provided template when reporting an issue.

If you are on rpi (arm/linux) most likely this has nothing to do with this add-on but a new version of widevine is required for playback (old widevine versions can't work anymore with any add-on/app) but new versions of w

[2021-06-10 16:15] razorxster commented on #196
Hi guys,

I have the same error. I have a hungarian error message (attached).
Summary of the message: New version of the application is reacheable. Please upgade for the nevest version and enjoy the best series and movies.

2.7.1 is installed, but i tried reinstall sometimes. Didn't helped.

I have PPI3 and OSMC 2020.11-1

![IMG_20210610_180753_1](https://user-images.githubusercontent.com/65629377

[2021-06-10 19:14] arvvoid commented on #196
Hello, without a full debug log i can't tell or do anything more.
That message come as an error message from the hbo go api is not internal to the add-on.

It can be an api change on their side as well but everything still work in my region.

It might also just be a temporary error on their side like in this issue: https://github.com/arvvoid/plugin.video.hbogoeu/issues/194

**Impossible to tell wi

[2021-06-10 19:40] ArturSierzant commented on #196
Hello,
I have the same problem since yesterday. First it appeared when I was using plugin hbogopl. Then I started to search solution and I found hbogoeu (2.7.1). I installed it hoping it would fix problem, but unfortunately it didn't. I've done some investigation and found this in `kodi.log`:
[code]
This is written to log when I try to open the list of seasons of any series, like: `series -> crime

[2021-06-10 20:35] arvvoid commented on #196
Hello, this is not helpful full uncut debug logs only tnx

[2021-06-10 21:04] razorxster commented on #196
[code]

Looks like `https://www.hbo-europe.com` is not reacheable. Maybe is the conent moved fto an other domain, or something other error.

[code]

[2021-06-10 21:14] arvvoid commented on #196
That would not cause above mentioned errors, that domain is not really important for the functioning of the add-on. Like I already said 3 times and this is the last time I need a full uncut debug log.

[2021-06-10 21:17] razorxster commented on #196
Full kodi log attached.

[kodi.log](https://github.com/arvvoid/plugin.video.hbogoeu/files/6634454/kodi.log)

[2021-06-10 21:23] arvvoid commented on #196
Tnx but thats not a debug log

`2021-06-10 12:27:46.827 T:1915712432  NOTICE: Log level changed to "LOG_LEVEL_NORMAL"`

as per instructions in readme enable debug logging a make a full log recreating the issue in question and then post the log.

FROM README:

If you are reporting an issue or asking for support you can go to the ISSUES section.

Please use the provided templates and provide all ask

[2021-06-10 22:02] razorxster commented on #196
Debug mode on. Relevant log entries between ~130 and EOF.

[kodi2.log](https://github.com/arvvoid/plugin.video.hbogoeu/files/6634647/kodi2.log)

[2021-06-10 22:13] arvvoid commented on #196
Seams a workaround the add-on was using to get the tv shows and movies menu item is no longer valid will have to change method to get those.

Try this as a workaround until an update is ready: try to find the same show using the search function most likely it will work normally (try and please report back if it work), you can add the show to my list and access it and play from there it should work

[2021-06-11 05:24] razorxster commented on #196
Hi,

the workaround is wokring, i can watch TV shows, when is search directly. I'm waiting the update.

Thanks a lot!

[2021-06-11 06:02] ArturSierzant commented on #196
Hello,

I can also confirm - the workaround is working: both through searching, adding to my list and continue watching.

Many thanks for this.

And of course full log in the future :)

Regards
Artur

[2021-06-11 15:34] arvvoid commented on #196
Hello @tylnesh @beasiteri @ArturSierzant @razorxster, a fix is ready but needs user testing before i publish it.

All information is on the pull request: https://github.com/arvvoid/plugin.video.hbogoeu/pull/197

As soon as this is tested in a few regions can be released.

[Note for testers: this affect the EU region, Spain/Nordic is not affected by this issue or changes]

[2021-06-14 16:18] #196 closed, assigned to arvvoid

[2021-06-14 16:20] arvvoid commented on #196
The fix has been merged in master. There will be a release soon.

[2021-06-14 20:22] arvvoid commented on #165
This issue is stalled and there where no more reports might have been only a temporary issue. Closing can be reopened if someone experience the same problem.

[2021-06-14 20:22] #165 closed, assigned to nobody

[2021-06-27 08:54] Dady1221 opened #198 "Hbo"

[2021-06-27 10:41] #198 closed, assigned to nobody

[2021-08-03 18:16] kkraszy opened #199 "[BUG] Error in popup: "The new version of the application is now available. Please update it to continue viewing""
Latest version Addon

**Describe the bug**
Error in popup: "The new version of the application is now available. Please update it to continue viewing"

**To Reproduce**
1. Go to HGO Addon -> Series -> Popular series -> Choose any series
2. See error

## Debug log
2021-08-03 20:10:34.431 T:4507    ERROR <general>: GetDirectory - Error getting plugin://plugin.video.hbogoeu/?mode=2&name=4%20BLOCKS%20

[2021-08-05 15:37] gwozniak commented on #199
Confirming it seems that only series part is affected.

[2021-08-05 15:39] gwozniak commented on #199
And this is the example of failing request:
grzebek@mir3 ~ $ curl http://plapi.hbogo.eu/v7/Content/json/ENG/ANMO/679d34f1-0a4e-1276-264b-3c094cd6a3a5/ | jq .

{
  "Error": {
    "Code": "1.8",
    "Details": "Parameters - ErrorCode: ERROR_GROUP_CALL_BLOCKED, Language: ENG",
    "DisplayMessage": "A new version of the application is available. Please update to continue watching the best original se

[2021-08-07 09:11] arvvoid commented on #199
Hello, i'm limited with time at the moment. But will look into it. Most likely the changes causing this catch on on all platforms, this might take longer to fix then previous times.
For the moment the only valid workaround is use the search function for series. Movies are not affected.

This problem is not affecting the spain/nordic region.

[2021-08-11 20:17] BlackGlassSkin commented on #199
for series also "add to my list" works for whole seasons

[2021-08-24 18:12] doggopwn opened #200 "Cannot play any video streams: DecryptSampleData: Decrypt failed with error: 2 and key ..."
* [x] Are you running the latest version?

**Describe the bug**
Kodi crashes after a few seconds when trying to play anything.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start hGO EU from the Add-ons menu.
2. Select any movie or episode of choice.
3. Click on the title to start playing.
4. Observe Kodi crashing after a few seconds of loading

**Expected behaviour**
For the video to sta

[2021-08-25 18:13] doggopwn commented on #200
@arvvoid

[2021-08-26 09:44] arvvoid commented on #200
Hello, the error is external to the add-on nothing I can fix on this end. Happens in inputstream.adaptive.
I can't recreate the problem in Kodi 19.1 stable release and latest widevine version, al work fine for me.

[2021-08-27 09:31] arvvoid commented on #200
@DoggoKt does it happen only on a specific movie/series?

[2021-08-27 12:03] arvvoid commented on #199
@kkraszy @gwozniak @BlackGlassSkin Hello, there is a fix in #201

Please test and let me know. I made a couple of quick tests and is ok, just need couple of more tests and will release.

[2021-08-28 17:04] #4 closed, assigned to nobody

[2021-08-28 17:05] #8 closed, assigned to nobody

[2021-08-28 17:05] #12 closed, assigned to nobody

[2021-08-28 17:06] #16 closed, assigned to nobody

[2021-08-28 17:06] #21 closed, assigned to nobody

[2021-08-30 08:43] arvvoid commented on #199
Fixed in release 2.7.8

[2021-08-30 08:43] #199 closed, assigned to nobody

[2021-09-02 11:31] otava5 commented on #200
Hello. Under Windows 10 it works, but under Coreelec 9.2.5 - Kodi 18.9 not even with the latest CDM library. Sending debug log
[code]

[2021-09-02 15:58] arvvoid commented on #200
UPDATE on the issue. This is most likely because old widevine versions got revoked by google and can't be used anymore. So ARM devices (Android is not affected) to support new widevine versions an os update is needed. So you have to check on your OS forum if an os update supporting new widevine versions is available.

Nothing to do about this on the add-on side.

Take a read here: https://www.matt

[2021-09-05 06:00] otava5 commented on #200
Here is an update I’ve built for CoreELEC S905/S912 devices using the PR code above
This will get widevine working until they (hopefully) release 9.2.8

https://sourceforge.net/projects/coreelec/files/CoreELEC-Amlogic.arm-9.2-devel-1630714868.tar/download

Download that and do the “manual update” procedure.
I’ve tested in on my Odroid C2

_from **matthuisman**_

[2021-09-06 15:59] razorxster commented on #200
Hi guys!

OSMC 19.1 also affected :(

[2021-09-06 17:06] durip commented on #200
working temporary fix for OSMC

https://github.com/xbmc/inputstream.adaptive/issues/678#issuecomment-913047151

[2021-09-19 14:11] FunctionalHacker opened #210 "[SUPPORT] No subtitles available"
* [x] Are you running the latest version?

**Befor sending the support request this resources can be checked:**

[Kodi Forum thread](https://forum.kodi.tv/showthread.php?tid=339798) |
[Project wiki](https://github.com/arvvoid/plugin.video.hbogoeu/wiki) |
[FAQ](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/FAQ) |
[Troubleshoot](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/Troubleshoo

[2021-09-20 11:43] arvvoid commented on #210
Hello @FunctionalHacker the subtitles should work unless something changed on hbo side. Does the problem happen on all content or only specific content? Are subtitle available with the official client for the same content?

It would be best to open a bug report with logs recreating the issue otherwise is impossible to know what's going on.

[2021-09-20 11:46] arvvoid commented on #210
@VadVoci this is a separate question unrelated to this issue. The question has been answered i believe in the official thread on Kodi forum search there if you still experience the problem open a separate support issue. https://forum.kodi.tv/showthread.php?tid=339798

[2021-09-20 11:47] FunctionalHacker commented on #210
Yes I can't get any subtitles on any content. The subtitles work on the same content in the official app.

I understand that my information is not much to go on, but I wanted to reach out first to see if this is a known issue. I can file a proper bug ticket later this week.

[2021-09-20 17:01] VadVoci opened #211 "[SUPPORT] Automatic choice of subtitle language"
* [x] Are you running the latest version?

**Befor sending the support request this resources can be checked:**

[Kodi Forum thread](https://forum.kodi.tv/showthread.php?tid=339798) |
[Project wiki](https://github.com/arvvoid/plugin.video.hbogoeu/wiki) |
[FAQ](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/FAQ) |
[Troubleshoot](https://github.com/arvvoid/plugin.video.hbogoeu/wiki/Troubleshoo

[2021-09-20 22:39] arvvoid commented on #211
Glad it's solved, for future reference I'm linking the forum posts: https://forum.kodi.tv/showthread.php?tid=339798&pid=3061098#pid3061098, https://forum.kodi.tv/showthread.php?tid=339798&pid=3061108#pid3061108, https://forum.kodi.tv/showthread.php?tid=339798&pid=3061144#pid3061144

[2021-09-20 22:39] #211 closed, assigned to nobody

[2021-09-20 22:44] arvvoid commented on #210
Ok, waiting for the bug report with a full debug log.

The issue can be totally unrelated but take a look here as well https://github.com/arvvoid/plugin.video.hbogoeu/issues/116

[2021-09-23 06:33] krokodylowy commented on #199
Hi
This version seems to be not available in Matrix repo so message now appears.

[2021-09-24 11:54] arvvoid commented on #199
@krokodylowy Hello, 2.7.8 is available in both Leia and Matrix repository and should fix the issue. If you running 2.7.8 and still experience the problem please open a bug report and post  a full debug log (that might mean something changed again on hbo end)

[2021-10-12 10:34] arvvoid commented on #210
Stalled closing. Please open a bug report with log if necessary.

[2021-10-12 10:34] #210 closed, assigned to nobody

[2021-10-12 10:42] arvvoid commented on #200
Closing since there is nothing to do on the add-on side about this. The discussion and tips can continue on Kodi forum or Discussions section here: https://github.com/arvvoid/plugin.video.hbogoeu/discussions/207

The situation should be completely resolved when all arm linux distributions support new widevine versions.

[2021-10-12 10:42] #200 closed, assigned to nobody

[2021-11-02 15:45] vanfanel opened #212 "[BUG] "Error sending data to Hbo Go""
**Are you running the latest version?**
Yes

**Describe the bug**
When opening the pluging, the messages  "Error sendig data to Hbo Go" and  "Error getting data from Hbo Go" appear, and there's no way to search or play any content.
It was working a week ago,

**To Reproduce**
Steps to reproduce the behaviour:
1.Try to open the plugin
2. See error

**Expected behaviour**
The plugin should be able t

[2021-11-10 07:22] arvvoid commented on #212
Hello @vanfanel, unfortunately i can't recreate this issue all is fine on my side. Is a connectivity problem of some kind. Are you using any kind of vpn or proxy that might be blocked by hbo? or connection from an unsupported region for your account?

The log is incomplete unfortunately, please enable debug mode in the add-on as well not only in Kodi ad please post a new log so I'm able to underst

[2021-11-23 10:00] arvvoid commented on #212
Stalled

[2021-11-23 10:00] #212 closed, assigned to nobody

[2022-01-11 21:10] fgr1986 commented on #212
Hi, @arvvoid
I am seeing this error. Could you please tell me what logs shall I provide?

This appears with the default kobi.log file, just after installing Hbo Go, trying to login to the user account:

[code]

Thanks

[2022-02-02 17:47] sorin-pop opened #213 "[QUESTION] What about HBO Max?"
This is just a simple question.

I understand that soon HBO Go is going to become HBO Max soon (with some changes I think).

I was wondering if the owners of this project know about this and are prepared for this new stuff?

[2022-02-05 07:59] arvvoid commented on #213
Hello,

HBO Max is a completely different platform and this add-on will become obsolete when all regions switch to HBO Max. There is a different add-on already available (not in the Kodi add-on repository at the moment), check : https://forum.kodi.tv/showthread.php?tid=358484.

I will maintain this add-on until is useful and there are regions still using HBO Go.
My region is switching to HBO Max 8

[2022-03-18 07:59] #3 closed, assigned to arvvoid

[2022-03-18 08:06] #213 closed, assigned to nobody